openapi: "3.0"
info:
    title: YouTube Data API v3
    description: The YouTube Data API v3 is an API that provides access to YouTube data, such as videos, playlists, and channels.
    version: v3
servers:
    - url: https://youtube.googleapis.com/
paths:
    /youtube/v3/abuseReports:
        post:
            description: Inserts a new resource into this collection.
            operationId: youtube.abuseReports.insert
            parameters:
                - name: part
                  in: query
                  description: The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/AbuseReport'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/AbuseReport'
    /youtube/v3/activities:
        get:
            description: Retrieves a list of resources, possibly filtered.
            operationId: youtube.activities.list
            parameters:
                - name: channelId
                  in: query
                  schema:
                    type: string
                - name: home
                  in: query
                  schema:
                    type: boolean
                - name: mine
                  in: query
                  schema:
                    type: boolean
                - name: publishedAfter
                  in: query
                  schema:
                    type: string
                    format: google-datetime
                - name: publishedBefore
                  in: query
                  schema:
                    type: string
                    format: google-datetime
                - name: regionCode
                  in: query
                  schema:
                    type: string
                - name: maxResults
                  in: query
                  description: The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.
                  schema:
                    type: integer
                    format: uint32
                - name: pageToken
                  in: query
                  description: The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.
                  schema:
                    type: string
                - name: part
                  in: query
                  description: The *part* parameter specifies a comma-separated list of one or more activity resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in an activity resource, the snippet property contains other properties that identify the type of activity, a display title for the activity, and so forth. If you set *part=snippet*, the API response will also contain all of those nested properties.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/ActivityListResponse'
    /youtube/v3/captions:
        get:
            description: Retrieves a list of resources, possibly filtered.
            operationId: youtube.captions.list
            parameters:
                - name: id
                  in: query
                  description: Returns the captions with the given IDs for Stubby or Apiary.
                  schema:
                    type: string
                - name: videoId
                  in: query
                  description: Returns the captions for the specified video.
                  required: true
                  schema:
                    type: string
                - name: part
                  in: query
                  description: The *part* parameter specifies a comma-separated list of one or more caption resource parts that the API response will include. The part names that you can include in the parameter value are id and snippet.
                  required: true
                  schema:
                    type: string
                - name: onBehalfOf
                  in: query
                  description: ID of the Google+ Page for the channel that the request is on behalf of.
                  schema:
                    type: string
                - name: onBehalfOfContentOwner
                  in: query
                  description: '*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request''s authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.'
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/CaptionListResponse'
        put:
            description: Updates an existing resource.
            operationId: youtube.captions.update
            parameters:
                - name: sync
                  in: query
                  description: Extra parameter to allow automatically syncing the uploaded caption/transcript with the audio.
                  schema:
                    type: boolean
                - name: part
                  in: query
                  description: The *part* parameter specifies a comma-separated list of one or more caption resource parts that the API response will include. The part names that you can include in the parameter value are id and snippet.
                  required: true
                  schema:
                    type: string
                - name: onBehalfOf
                  in: query
                  description: ID of the Google+ Page for the channel that the request is on behalf of.
                  schema:
                    type: string
                - name: onBehalfOfContentOwner
                  in: query
                  description: '*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request''s authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.'
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/Caption'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Caption'
        post:
            description: Inserts a new resource into this collection.
            operationId: youtube.captions.insert
            parameters:
                - name: sync
                  in: query
                  description: Extra parameter to allow automatically syncing the uploaded caption/transcript with the audio.
                  schema:
                    type: boolean
                - name: part
                  in: query
                  description: The *part* parameter specifies the caption resource parts that the API response will include. Set the parameter value to snippet.
                  required: true
                  schema:
                    type: string
                - name: onBehalfOf
                  in: query
                  description: ID of the Google+ Page for the channel that the request is be on behalf of
                  schema:
                    type: string
                - name: onBehalfOfContentOwner
                  in: query
                  description: '*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request''s authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.'
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/Caption'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Caption'
        delete:
            description: Deletes a resource.
            operationId: youtube.captions.delete
            parameters:
                - name: id
                  in: query
                  required: true
                  schema:
                    type: string
                - name: onBehalfOf
                  in: query
                  description: ID of the Google+ Page for the channel that the request is be on behalf of
                  schema:
                    type: string
                - name: onBehalfOfContentOwner
                  in: query
                  description: '*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request''s authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.'
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
    /youtube/v3/captions/{id}:
        get:
            description: Downloads a caption track.
            operationId: youtube.captions.download
            parameters:
                - name: id
                  in: path
                  description: The ID of the caption track to download, required for One Platform.
                  required: true
                  schema:
                    type: string
                - name: tlang
                  in: query
                  description: tlang is the language code; machine translate the captions into this language.
                  schema:
                    type: string
                - name: tfmt
                  in: query
                  description: Convert the captions into this format. Supported options are sbv, srt, and vtt.
                  schema:
                    type: string
                - name: onBehalfOf
                  in: query
                  description: ID of the Google+ Page for the channel that the request is be on behalf of
                  schema:
                    type: string
                - name: onBehalfOfContentOwner
                  in: query
                  description: '*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request''s authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.'
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
    /youtube/v3/channels:
        get:
            description: Retrieves a list of resources, possibly filtered.
            operationId: youtube.channels.list
            parameters:
                - name: mine
                  in: query
                  description: Return the ids of channels owned by the authenticated user.
                  schema:
                    type: boolean
                - name: id
                  in: query
                  description: Return the channels with the specified IDs.
                  schema:
                    type: string
                - name: mySubscribers
                  in: query
                  description: Return the channels subscribed to the authenticated user
                  schema:
                    type: boolean
                - name: categoryId
                  in: query
                  description: Return the channels within the specified guide category ID.
                  schema:
                    type: string
                - name: managedByMe
                  in: query
                  description: Return the channels managed by the authenticated user.
                  schema:
                    type: boolean
                - name: forUsername
                  in: query
                  description: Return the channel associated with a YouTube username.
                  schema:
                    type: string
                - name: forHandle
                  in: query
                  description: Return the channel associated with a YouTube handle.
                  schema:
                    type: string
                - name: hl
                  in: query
                  description: Stands for "host language". Specifies the localization language of the metadata to be filled into snippet.localized. The field is filled with the default metadata if there is no localization in the specified language. The parameter value must be a language code included in the list returned by the i18nLanguages.list method (e.g. en_US, es_MX).
                  schema:
                    type: string
                - name: maxResults
                  in: query
                  description: The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.
                  schema:
                    type: integer
                    format: uint32
                - name: pageToken
                  in: query
                  description: The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.
                  schema:
                    type: string
                - name: part
                  in: query
                  description: The *part* parameter specifies a comma-separated list of one or more channel resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a channel resource, the contentDetails property contains other properties, such as the uploads properties. As such, if you set *part=contentDetails*, the API response will also contain all of those nested properties.
                  required: true
                  schema:
                    type: string
                - name: onBehalfOfContentOwner
                  in: query
                  description: '*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request''s authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.'
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/ChannelListResponse'
        put:
            description: Updates an existing resource.
            operationId: youtube.channels.update
            parameters:
                - name: part
                  in: query
                  description: The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The API currently only allows the parameter value to be set to either brandingSettings or invideoPromotion. (You cannot update both of those parts with a single request.) Note that this method overrides the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies.
                  required: true
                  schema:
                    type: string
                - name: onBehalfOfContentOwner
                  in: query
                  description: The *onBehalfOfContentOwner* parameter indicates that the authenticated user is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with needs to be linked to the specified YouTube content owner.
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/Channel'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Channel'
    /youtube/v3/channelBanners/insert:
        post:
            description: Inserts a new resource into this collection.
            operationId: youtube.channelBanners.insert
            parameters:
                - name: channelId
                  in: query
                  description: Unused, channel_id is currently derived from the security context of the requestor.
                  schema:
                    type: string
                - name: onBehalfOfContentOwner
                  in: query
                  description: '*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request''s authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.'
                  schema:
                    type: string
                - name: onBehalfOfContentOwnerChannel
                  in: query
                  description: This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/ChannelBannerResource'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/ChannelBannerResource'
    /youtube/v3/channelSections:
        get:
            description: Retrieves a list of resources, possibly filtered.
            operationId: youtube.channelSections.list
            parameters:
                - name: id
                  in: query
                  description: Return the ChannelSections with the given IDs for Stubby or Apiary.
                  schema:
                    type: string
                - name: mine
                  in: query
                  description: Return the ChannelSections owned by the authenticated user.
                  schema:
                    type: boolean
                - name: channelId
                  in: query
                  description: Return the ChannelSections owned by the specified channel ID.
                  schema:
                    type: string
                - name: hl
                  in: query
                  description: Return content in specified language
                  schema:
                    type: string
                - name: part
                  in: query
                  description: The *part* parameter specifies a comma-separated list of one or more channelSection resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, and contentDetails. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a channelSection resource, the snippet property contains other properties, such as a display title for the channelSection. If you set *part=snippet*, the API response will also contain all of those nested properties.
                  required: true
                  schema:
                    type: string
                - name: onBehalfOfContentOwner
                  in: query
                  description: '*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request''s authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.'
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/ChannelSectionListResponse'
        put:
            description: Updates an existing resource.
            operationId: youtube.channelSections.update
            parameters:
                - name: part
                  in: query
                  description: The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part names that you can include in the parameter value are snippet and contentDetails.
                  required: true
                  schema:
                    type: string
                - name: onBehalfOfContentOwner
                  in: query
                  description: '*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request''s authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.'
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/ChannelSection'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/ChannelSection'
        post:
            description: Inserts a new resource into this collection.
            operationId: youtube.channelSections.insert
            parameters:
                - name: part
                  in: query
                  description: The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part names that you can include in the parameter value are snippet and contentDetails.
                  required: true
                  schema:
                    type: string
                - name: onBehalfOfContentOwner
                  in: query
                  description: '*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request''s authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.'
                  schema:
                    type: string
                - name: onBehalfOfContentOwnerChannel
                  in: query
                  description: This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/ChannelSection'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/ChannelSection'
        delete:
            description: Deletes a resource.
            operationId: youtube.channelSections.delete
            parameters:
                - name: id
                  in: query
                  required: true
                  schema:
                    type: string
                - name: onBehalfOfContentOwner
                  in: query
                  description: '*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request''s authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.'
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
    /youtube/v3/comments:
        get:
            description: Retrieves a list of resources, possibly filtered.
            operationId: youtube.comments.list
            parameters:
                - name: id
                  in: query
                  description: Returns the comments with the given IDs for One Platform.
                  schema:
                    type: string
                - name: parentId
                  in: query
                  description: Returns replies to the specified comment. Note, currently YouTube features only one level of replies (ie replies to top level comments). However replies to replies may be supported in the future.
                  schema:
                    type: string
                - name: textFormat
                  in: query
                  description: The requested text format for the returned comments.
                  schema:
                    type: string
                - name: maxResults
                  in: query
                  description: The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.
                  schema:
                    type: integer
                    format: uint32
                - name: pageToken
                  in: query
                  description: The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.
                  schema:
                    type: string
                - name: part
                  in: query
                  description: The *part* parameter specifies a comma-separated list of one or more comment resource properties that the API response will include.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/CommentListResponse'
        put:
            description: Updates an existing resource.
            operationId: youtube.comments.update
            parameters:
                - name: part
                  in: query
                  description: The *part* parameter identifies the properties that the API response will include. You must at least include the snippet part in the parameter value since that part contains all of the properties that the API request can update.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/Comment'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Comment'
        post:
            description: Inserts a new resource into this collection.
            operationId: youtube.comments.insert
            parameters:
                - name: part
                  in: query
                  description: The *part* parameter identifies the properties that the API response will include. Set the parameter value to snippet. The snippet part has a quota cost of 2 units.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/Comment'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Comment'
        delete:
            description: Deletes a resource.
            operationId: youtube.comments.delete
            parameters:
                - name: id
                  in: query
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
    /youtube/v3/comments/setModerationStatus:
        post:
            description: Sets the moderation status of one or more comments.
            operationId: youtube.comments.setModerationStatus
            parameters:
                - name: id
                  in: query
                  description: Modifies the moderation status of the comments with the given IDs
                  required: true
                  schema:
                    type: string
                - name: moderationStatus
                  in: query
                  description: 'Specifies the requested moderation status. Note, comments can be in statuses, which are not available through this call. For example, this call does not allow to mark a comment as ''likely spam''. Valid values: ''heldForReview'', ''published'' or ''rejected''.'
                  required: true
                  schema:
                    type: string
                - name: banAuthor
                  in: query
                  description: If set to true the author of the comment gets added to the ban list. This means all future comments of the author will autmomatically be rejected. Only valid in combination with STATUS_REJECTED.
                  schema:
                    type: boolean
            responses:
                default:
                    description: Successful operation
    /youtube/v3/comments/markAsSpam:
        post:
            description: Expresses the caller's opinion that one or more comments should be flagged as spam.
            operationId: youtube.comments.markAsSpam
            parameters:
                - name: id
                  in: query
                  description: Flags the comments with the given IDs as spam in the caller's opinion.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
    /youtube/v3/commentThreads:
        get:
            description: Retrieves a list of resources, possibly filtered.
            operationId: youtube.commentThreads.list
            parameters:
                - name: id
                  in: query
                  description: Returns the comment threads with the given IDs for Stubby or Apiary.
                  schema:
                    type: string
                - name: videoId
                  in: query
                  description: Returns the comment threads of the specified video.
                  schema:
                    type: string
                - name: postId
                  in: query
                  description: Returns the comment threads of the specified post.
                  schema:
                    type: string
                - name: channelId
                  in: query
                  description: Returns the comment threads for all the channel comments (ie does not include comments left on videos).
                  schema:
                    type: string
                - name: allThreadsRelatedToChannelId
                  in: query
                  description: Returns the comment threads of all videos of the channel and the channel comments as well.
                  schema:
                    type: string
                - name: moderationStatus
                  in: query
                  description: 'Limits the returned comment threads to those with the specified moderation status. Not compatible with the ''id'' filter. Valid values: published, heldForReview, likelySpam.'
                  schema:
                    type: string
                - name: searchTerms
                  in: query
                  description: Limits the returned comment threads to those matching the specified key words. Not compatible with the 'id' filter.
                  schema:
                    type: string
                - name: textFormat
                  in: query
                  description: The requested text format for the returned comments.
                  schema:
                    type: string
                - name: order
                  in: query
                  schema:
                    type: string
                - name: maxResults
                  in: query
                  description: The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.
                  schema:
                    type: integer
                    format: uint32
                - name: pageToken
                  in: query
                  description: The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.
                  schema:
                    type: string
                - name: part
                  in: query
                  description: The *part* parameter specifies a comma-separated list of one or more commentThread resource properties that the API response will include.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/CommentThreadListResponse'
        put:
            description: Updates an existing resource.
            operationId: youtube.youtube.v3.updateCommentThreads
            parameters:
                - name: part
                  in: query
                  description: The *part* parameter specifies a comma-separated list of commentThread resource properties that the API response will include. You must at least include the snippet part in the parameter value since that part contains all of the properties that the API request can update.
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/CommentThread'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/CommentThread'
        post:
            description: Inserts a new resource into this collection.
            operationId: youtube.commentThreads.insert
            parameters:
                - name: part
                  in: query
                  description: The *part* parameter identifies the properties that the API response will include. Set the parameter value to snippet. The snippet part has a quota cost of 2 units.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/CommentThread'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/CommentThread'
    /youtube/v3/liveChat/messages/stream:
        get:
            description: Allows a user to load live chat through a server-streamed RPC.
            operationId: youtube.youtube.v3.liveChat.messages.stream
            parameters:
                - name: liveChatId
                  in: query
                  description: The id of the live chat for which comments should be returned.
                  schema:
                    type: string
                - name: hl
                  in: query
                  description: Specifies the localization language in which the system messages should be returned.
                  schema:
                    type: string
                - name: profileImageSize
                  in: query
                  description: Specifies the size of the profile image that should be returned for each user.
                  schema:
                    type: integer
                    format: uint32
                - name: maxResults
                  in: query
                  description: The *maxResults* parameter specifies the maximum number of items that should be returned in the result set. Not used in the streaming RPC.
                  schema:
                    type: integer
                    format: uint32
                - name: pageToken
                  in: query
                  description: The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken property identify other pages that could be retrieved.
                  schema:
                    type: string
                - name: part
                  in: query
                  description: The *part* parameter specifies the liveChatComment resource parts that the API response will include. Supported values are id, snippet, and authorDetails.
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/LiveChatMessageListResponse'
    /youtube/v3/i18nLanguages:
        get:
            description: Retrieves a list of resources, possibly filtered.
            operationId: youtube.i18nLanguages.list
            parameters:
                - name: hl
                  in: query
                  schema:
                    type: string
                - name: part
                  in: query
                  description: The *part* parameter specifies the i18nLanguage resource properties that the API response will include. Set the parameter value to snippet.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/I18nLanguageListResponse'
    /youtube/v3/i18nRegions:
        get:
            description: Retrieves a list of resources, possibly filtered.
            operationId: youtube.i18nRegions.list
            parameters:
                - name: hl
                  in: query
                  schema:
                    type: string
                - name: part
                  in: query
                  description: The *part* parameter specifies the i18nRegion resource properties that the API response will include. Set the parameter value to snippet.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/I18nRegionListResponse'
    /youtube/v3/liveBroadcasts:
        get:
            description: Retrieve the list of broadcasts associated with the given channel.
            operationId: youtube.liveBroadcasts.list
            parameters:
                - name: broadcastStatus
                  in: query
                  description: Return broadcasts with a certain status, e.g. active broadcasts.
                  schema:
                    type: string
                - name: id
                  in: query
                  description: Return broadcasts with the given ids from Stubby or Apiary.
                  schema:
                    type: string
                - name: mine
                  in: query
                  schema:
                    type: boolean
                - name: broadcastType
                  in: query
                  description: Return only broadcasts with the selected type.
                  schema:
                    type: string
                - name: maxResults
                  in: query
                  description: The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.
                  schema:
                    type: integer
                    format: uint32
                - name: pageToken
                  in: query
                  description: The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.
                  schema:
                    type: string
                - name: part
                  in: query
                  description: The *part* parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, status and statistics.
                  required: true
                  schema:
                    type: string
                - name: onBehalfOfContentOwner
                  in: query
                  description: '*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request''s authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.'
                  schema:
                    type: string
                - name: onBehalfOfContentOwnerChannel
                  in: query
                  description: This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/LiveBroadcastListResponse'
        put:
            description: Updates an existing broadcast for the authenticated user.
            operationId: youtube.liveBroadcasts.update
            parameters:
                - name: part
                  in: query
                  description: The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, contentDetails, and status. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. For example, a broadcast's privacy status is defined in the status part. As such, if your request is updating a private or unlisted broadcast, and the request's part parameter value includes the status part, the broadcast's privacy setting will be updated to whatever value the request body specifies. If the request body does not specify a value, the existing privacy setting will be removed and the broadcast will revert to the default privacy setting.
                  required: true
                  schema:
                    type: string
                - name: onBehalfOfContentOwner
                  in: query
                  description: '*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request''s authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.'
                  schema:
                    type: string
                - name: onBehalfOfContentOwnerChannel
                  in: query
                  description: This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/LiveBroadcast'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/LiveBroadcast'
        post:
            description: Inserts a new stream for the authenticated user.
            operationId: youtube.liveBroadcasts.insert
            parameters:
                - name: part
                  in: query
                  description: The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, contentDetails, and status.
                  required: true
                  schema:
                    type: string
                - name: onBehalfOfContentOwner
                  in: query
                  description: '*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request''s authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.'
                  schema:
                    type: string
                - name: onBehalfOfContentOwnerChannel
                  in: query
                  description: This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/LiveBroadcast'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/LiveBroadcast'
        delete:
            description: Delete a given broadcast.
            operationId: youtube.liveBroadcasts.delete
            parameters:
                - name: id
                  in: query
                  description: Broadcast to delete.
                  required: true
                  schema:
                    type: string
                - name: onBehalfOfContentOwner
                  in: query
                  description: '*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request''s authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.'
                  schema:
                    type: string
                - name: onBehalfOfContentOwnerChannel
                  in: query
                  description: This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
    /youtube/v3/liveBroadcasts/bind:
        post:
            description: Bind a broadcast to a stream.
            operationId: youtube.liveBroadcasts.bind
            parameters:
                - name: id
                  in: query
                  description: Broadcast to bind to the stream
                  required: true
                  schema:
                    type: string
                - name: streamId
                  in: query
                  description: Stream to bind, if not set unbind the current one.
                  schema:
                    type: string
                - name: part
                  in: query
                  description: The *part* parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, and status.
                  required: true
                  schema:
                    type: string
                - name: onBehalfOfContentOwner
                  in: query
                  description: '*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request''s authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.'
                  schema:
                    type: string
                - name: onBehalfOfContentOwnerChannel
                  in: query
                  description: This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/LiveBroadcast'
    /youtube/v3/liveBroadcasts/transition:
        post:
            description: Transition a broadcast to a given status.
            operationId: youtube.liveBroadcasts.transition
            parameters:
                - name: id
                  in: query
                  description: Broadcast to transition.
                  required: true
                  schema:
                    type: string
                - name: broadcastStatus
                  in: query
                  description: The status to which the broadcast is going to transition.
                  required: true
                  schema:
                    type: string
                - name: part
                  in: query
                  description: The *part* parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, and status.
                  required: true
                  schema:
                    type: string
                - name: onBehalfOfContentOwner
                  in: query
                  description: '*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request''s authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.'
                  schema:
                    type: string
                - name: onBehalfOfContentOwnerChannel
                  in: query
                  description: This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/LiveBroadcast'
    /youtube/v3/liveBroadcasts/cuepoint:
        post:
            description: Insert cuepoints in a broadcast
            operationId: youtube.liveBroadcasts.insertCuepoint
            parameters:
                - name: id
                  in: query
                  description: Broadcast to insert ads to, or equivalently `external_video_id` for internal use.
                  schema:
                    type: string
                - name: part
                  in: query
                  description: The *part* parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, and status.
                  schema:
                    type: string
                - name: onBehalfOfContentOwner
                  in: query
                  description: '*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request''s authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.'
                  schema:
                    type: string
                - name: onBehalfOfContentOwnerChannel
                  in: query
                  description: This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/Cuepoint'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Cuepoint'
    /youtube/v3/liveChat/bans:
        post:
            description: Inserts a new resource into this collection.
            operationId: youtube.liveChatBans.insert
            parameters:
                - name: part
                  in: query
                  description: The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response returns. Set the parameter value to snippet.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/LiveChatBan'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/LiveChatBan'
        delete:
            description: Deletes a chat ban.
            operationId: youtube.liveChatBans.delete
            parameters:
                - name: id
                  in: query
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
    /youtube/v3/liveChat/messages:
        get:
            description: Retrieves a list of resources, possibly filtered.
            operationId: youtube.liveChatMessages.list
            parameters:
                - name: liveChatId
                  in: query
                  description: The id of the live chat for which comments should be returned.
                  required: true
                  schema:
                    type: string
                - name: hl
                  in: query
                  description: Specifies the localization language in which the system messages should be returned.
                  schema:
                    type: string
                - name: profileImageSize
                  in: query
                  description: Specifies the size of the profile image that should be returned for each user.
                  schema:
                    type: integer
                    format: uint32
                - name: maxResults
                  in: query
                  description: The *maxResults* parameter specifies the maximum number of items that should be returned in the result set. Not used in the streaming RPC.
                  schema:
                    type: integer
                    format: uint32
                - name: pageToken
                  in: query
                  description: The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken property identify other pages that could be retrieved.
                  schema:
                    type: string
                - name: part
                  in: query
                  description: The *part* parameter specifies the liveChatComment resource parts that the API response will include. Supported values are id, snippet, and authorDetails.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/LiveChatMessageListResponse'
        post:
            description: Inserts a new resource into this collection.
            operationId: youtube.liveChatMessages.insert
            parameters:
                - name: part
                  in: query
                  description: The *part* parameter serves two purposes. It identifies the properties that the write operation will set as well as the properties that the API response will include. Set the parameter value to snippet.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/LiveChatMessage'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/LiveChatMessage'
        delete:
            description: Deletes a chat message.
            operationId: youtube.liveChatMessages.delete
            parameters:
                - name: id
                  in: query
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
    /youtube/v3/liveChat/messages/transition:
        post:
            description: Transition a durable chat event.
            operationId: youtube.liveChatMessages.transition
            parameters:
                - name: id
                  in: query
                  description: The ID that uniquely identify the chat message event to transition.
                  schema:
                    type: string
                - name: status
                  in: query
                  description: The status to which the chat event is going to transition.
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/LiveChatMessage'
    /youtube/v3/liveChat/moderators:
        get:
            description: Retrieves a list of resources, possibly filtered.
            operationId: youtube.liveChatModerators.list
            parameters:
                - name: liveChatId
                  in: query
                  description: The id of the live chat for which moderators should be returned.
                  required: true
                  schema:
                    type: string
                - name: maxResults
                  in: query
                  description: The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.
                  schema:
                    type: integer
                    format: uint32
                - name: pageToken
                  in: query
                  description: The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.
                  schema:
                    type: string
                - name: part
                  in: query
                  description: The *part* parameter specifies the liveChatModerator resource parts that the API response will include. Supported values are id and snippet.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/LiveChatModeratorListResponse'
        post:
            description: Inserts a new resource into this collection.
            operationId: youtube.liveChatModerators.insert
            parameters:
                - name: part
                  in: query
                  description: The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response returns. Set the parameter value to snippet.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/LiveChatModerator'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/LiveChatModerator'
        delete:
            description: Deletes a chat moderator.
            operationId: youtube.liveChatModerators.delete
            parameters:
                - name: id
                  in: query
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
    /youtube/v3/liveStreams:
        get:
            description: Retrieve the list of streams associated with the given channel. --
            operationId: youtube.liveStreams.list
            parameters:
                - name: id
                  in: query
                  description: Return LiveStreams with the given ids from Stubby or Apiary.
                  schema:
                    type: string
                - name: mine
                  in: query
                  schema:
                    type: boolean
                - name: maxResults
                  in: query
                  description: The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.
                  schema:
                    type: integer
                    format: uint32
                - name: pageToken
                  in: query
                  description: The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.
                  schema:
                    type: string
                - name: part
                  in: query
                  description: The *part* parameter specifies a comma-separated list of one or more liveStream resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, cdn, and status.
                  required: true
                  schema:
                    type: string
                - name: onBehalfOfContentOwner
                  in: query
                  description: '*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request''s authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.'
                  schema:
                    type: string
                - name: onBehalfOfContentOwnerChannel
                  in: query
                  description: This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/LiveStreamListResponse'
        put:
            description: Updates an existing stream for the authenticated user.
            operationId: youtube.liveStreams.update
            parameters:
                - name: part
                  in: query
                  description: The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, cdn, and status. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. If the request body does not specify a value for a mutable property, the existing value for that property will be removed.
                  required: true
                  schema:
                    type: string
                - name: onBehalfOfContentOwner
                  in: query
                  description: '*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request''s authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.'
                  schema:
                    type: string
                - name: onBehalfOfContentOwnerChannel
                  in: query
                  description: This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/LiveStream'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/LiveStream'
        post:
            description: Inserts a new stream for the authenticated user.
            operationId: youtube.liveStreams.insert
            parameters:
                - name: part
                  in: query
                  description: The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, cdn, content_details, and status.
                  required: true
                  schema:
                    type: string
                - name: onBehalfOfContentOwner
                  in: query
                  description: '*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request''s authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.'
                  schema:
                    type: string
                - name: onBehalfOfContentOwnerChannel
                  in: query
                  description: This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/LiveStream'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/LiveStream'
        delete:
            description: Deletes an existing stream for the authenticated user.
            operationId: youtube.liveStreams.delete
            parameters:
                - name: id
                  in: query
                  required: true
                  schema:
                    type: string
                - name: onBehalfOfContentOwner
                  in: query
                  description: '*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request''s authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.'
                  schema:
                    type: string
                - name: onBehalfOfContentOwnerChannel
                  in: query
                  description: This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
    /youtube/v3/members:
        get:
            description: Retrieves a list of members that match the request criteria for a channel.
            operationId: youtube.members.list
            parameters:
                - name: mode
                  in: query
                  description: Parameter that specifies which channel members to return.
                  schema:
                    type: string
                - name: hasAccessToLevel
                  in: query
                  description: Filter members in the results set to the ones that have access to a level.
                  schema:
                    type: string
                - name: maxResults
                  in: query
                  description: The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.
                  schema:
                    type: integer
                    format: uint32
                - name: pageToken
                  in: query
                  description: The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.
                  schema:
                    type: string
                - name: filterByMemberChannelId
                  in: query
                  description: Comma separated list of channel IDs. Only data about members that are part of this list will be included in the response.
                  schema:
                    type: string
                - name: part
                  in: query
                  description: The *part* parameter specifies the member resource parts that the API response will include. Set the parameter value to snippet.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/MemberListResponse'
    /youtube/v3/membershipsLevels:
        get:
            description: Retrieves a list of all pricing levels offered by a creator to the fans.
            operationId: youtube.membershipsLevels.list
            parameters:
                - name: part
                  in: query
                  description: The *part* parameter specifies the membershipsLevel resource parts that the API response will include. Supported values are id and snippet.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/MembershipsLevelListResponse'
    /youtube/v3/playlists:
        get:
            description: Retrieves a list of resources, possibly filtered.
            operationId: youtube.playlists.list
            parameters:
                - name: id
                  in: query
                  description: Return the playlists with the given IDs for Stubby or Apiary.
                  schema:
                    type: string
                - name: mine
                  in: query
                  description: Return the playlists owned by the authenticated user.
                  schema:
                    type: boolean
                - name: channelId
                  in: query
                  description: Return the playlists owned by the specified channel ID.
                  schema:
                    type: string
                - name: hl
                  in: query
                  description: Return content in specified language
                  schema:
                    type: string
                - name: maxResults
                  in: query
                  description: The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.
                  schema:
                    type: integer
                    format: uint32
                - name: pageToken
                  in: query
[...]
