openapi: "3.0"
info:
    title: Google Drive API
    description: The Google Drive API allows clients to access resources from Google Drive.
    version: v3
servers:
    - url: https://www.googleapis.com/drive/v3/
paths:
    /files/trash:
        delete:
            description: Permanently deletes all of the user's trashed files. For more information, see [Trash or delete files and folders](https://developers.google.com/workspace/drive/api/guides/delete).
            operationId: drive.files.emptyTrash
            parameters:
                - name: driveId
                  in: query
                  description: If set, empties the trash of the provided shared drive.
                  schema:
                    type: string
                - name: enforceSingleParent
                  in: query
                  description: 'Deprecated: If an item isn''t in a shared drive and its last parent is deleted but the item itself isn''t, the item will be placed under its owner''s root.'
                  schema:
                    type: boolean
            responses:
                default:
                    description: Successful operation
    /files:
        get:
            description: ' Lists the user''s files. For more information, see [Search for files and folders](https://developers.google.com/workspace/drive/api/guides/search-files). This method accepts the `q` parameter, which is a search query combining one or more search terms. This method returns *all* files by default, including trashed files. If you don''t want trashed files to appear in the list, use the `trashed=false` query parameter to remove trashed files from the results.'
            operationId: drive.files.list
            parameters:
                - name: corpora
                  in: query
                  description: 'Specifies a collection of items (files or documents) to which the query applies. Supported items include: * `user` * `domain` * `drive` * `allDrives` Prefer `user` or `drive` to `allDrives` for efficiency. By default, corpora is set to `user`. However, this can change depending on the filter set through the `q` parameter. For more information, see [File organization](https://developers.google.com/workspace/drive/api/guides/about-files#file-organization).'
                  schema:
                    type: string
                - name: corpus
                  in: query
                  description: 'Deprecated: The source of files to list. Use `corpora` instead.'
                  schema:
                    type: string
                - name: orderBy
                  in: query
                  description: 'A comma-separated list of sort keys. Valid keys are: * `createdTime`: When the file was created. Avoid using this key for queries on large item collections as it might result in timeouts or other issues. For time-related sorting on large item collections, use `modifiedTime` instead. * `folder`: The folder ID. This field is sorted using alphabetical ordering. * `modifiedByMeTime`: The last time the file was modified by the user. * `modifiedTime`: The last time the file was modified by anyone. * `name`: The name of the file. This field is sorted using alphabetical ordering, so 1, 12, 2, 22. * `name_natural`: The name of the file. This field is sorted using natural sort ordering, so 1, 2, 12, 22. * `quotaBytesUsed`: The number of storage quota bytes used by the file. * `recency`: The most recent timestamp from the file''s date-time fields. * `sharedWithMeTime`: When the file was shared with the user, if applicable. * `starred`: Whether the user has starred the file. * `viewedByMeTime`: The last time the file was viewed by the user. Each key sorts ascending by default, but can be reversed with the `desc` modifier. Example usage: `?orderBy=folder,modifiedTime desc,name`.'
                  schema:
                    type: string
                - name: q
                  in: query
                  description: A query for filtering the file results. For supported syntax, see [Search for files and folders](/workspace/drive/api/guides/search-files).
                  schema:
                    type: string
                - name: includeItemsFromAllDrives
                  in: query
                  description: Whether both My Drive and shared drive items should be included in results.
                  schema:
                    type: boolean
                - name: teamDriveId
                  in: query
                  description: 'Deprecated: Use `driveId` instead.'
                  schema:
                    type: string
                - name: driveId
                  in: query
                  description: ID of the shared drive to search.
                  schema:
                    type: string
                - name: supportsTeamDrives
                  in: query
                  description: 'Deprecated: Use `supportsAllDrives` instead.'
                  schema:
                    type: boolean
                - name: supportsAllDrives
                  in: query
                  description: Whether the requesting application supports both My Drives and shared drives.
                  schema:
                    type: boolean
                - name: spaces
                  in: query
                  description: A comma-separated list of spaces to query within the corpora. Supported values are `drive` and `appDataFolder`. For more information, see [File organization](https://developers.google.com/workspace/drive/api/guides/about-files#file-organization).
                  schema:
                    type: string
                - name: includeTeamDriveItems
                  in: query
                  description: 'Deprecated: Use `includeItemsFromAllDrives` instead.'
                  schema:
                    type: boolean
                - name: pageSize
                  in: query
                  description: The maximum number of files to return per page. Partial or empty result pages are possible even before the end of the files list has been reached.
                  schema:
                    type: integer
                    format: int32
                - name: pageToken
                  in: query
                  description: The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response.
                  schema:
                    type: string
                - name: includeLabels
                  in: query
                  description: A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.
                  schema:
                    type: string
                - name: includePermissionsForView
                  in: query
                  description: Specifies which additional view's permissions to include in the response. Only `published` is supported.
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/FileList'
        post:
            description: ' Creates a file. For more information, see [Create and manage files](https://developers.google.com/workspace/drive/api/guides/create-file). This method supports an */upload* URI and accepts uploaded media with the following characteristics: - *Maximum file size:* 5,120 GB - *Accepted Media MIME types:* `*/*` (Specify a valid MIME type, rather than the literal `*/*` value. The literal `*/*` is only used to indicate that any valid MIME type can be uploaded. For more information, see [Google Workspace and Google Drive supported MIME types](https://developers.google.com/workspace/drive/api/guides/mime-types).) For more information on uploading files, see [Upload file data](https://developers.google.com/workspace/drive/api/guides/manage-uploads). Apps creating shortcuts with the `create` method must specify the MIME type `application/vnd.google-apps.shortcut`. Apps should specify a file extension in the `name` property when inserting files with the API. For example, an operation to insert a JPEG file should specify something like `"name": "cat.jpg"` in the metadata. Subsequent `GET` requests include the read-only `fileExtension` property populated with the extension originally specified in the `name` property. When a Google Drive user requests to download a file, or when the file is downloaded through the sync client, Drive builds a full filename (with extension) based on the name. In cases where the extension is missing, Drive attempts to determine the extension based on the file''s MIME type.'
            operationId: drive.files.create
            parameters:
                - name: useContentAsIndexableText
                  in: query
                  description: Whether to use the uploaded content as indexable text.
                  schema:
                    type: boolean
                - name: ocrLanguage
                  in: query
                  description: A language hint for OCR processing during image import (ISO 639-1 code).
                  schema:
                    type: string
                - name: keepRevisionForever
                  in: query
                  description: Whether to set the `keepForever` field in the new head revision. This is only applicable to files with binary content in Google Drive. Only 200 revisions for the file can be kept forever. If the limit is reached, try deleting pinned revisions.
                  schema:
                    type: boolean
                - name: supportsAllDrives
                  in: query
                  description: Whether the requesting application supports both My Drives and shared drives.
                  schema:
                    type: boolean
                - name: enforceSingleParent
                  in: query
                  description: 'Deprecated: Creating files in multiple folders is no longer supported.'
                  schema:
                    type: boolean
                - name: ignoreDefaultVisibility
                  in: query
                  description: Whether to ignore the domain's default visibility settings for the created file. Domain administrators can choose to make all uploaded files visible to the domain by default; this parameter bypasses that behavior for the request. Permissions are still inherited from parent folders.
                  schema:
                    type: boolean
                - name: includeLabels
                  in: query
                  description: A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.
                  schema:
                    type: string
                - name: supportsTeamDrives
                  in: query
                  description: 'Deprecated: Use `supportsAllDrives` instead.'
                  schema:
                    type: boolean
                - name: includePermissionsForView
                  in: query
                  description: Specifies which additional view's permissions to include in the response. Only `published` is supported.
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/File'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/File'
    /files/{fileId}/watch:
        post:
            description: Subscribes to changes to a file. For more information, see [Notifications for resource changes](https://developers.google.com/workspace/drive/api/guides/push).
            operationId: drive.files.watch
            parameters:
                - name: supportsAllDrives
                  in: query
                  description: Whether the requesting application supports both My Drives and shared drives.
                  schema:
                    type: boolean
                - name: fileId
                  in: path
                  description: The ID of the file.
                  required: true
                  schema:
                    type: string
                - name: acknowledgeAbuse
                  in: query
                  description: Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when the `alt` parameter is set to `media` and the user is the owner of the file or an organizer of the shared drive in which the file resides.
                  schema:
                    type: boolean
                - name: includeLabels
                  in: query
                  description: A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.
                  schema:
                    type: string
                - name: supportsTeamDrives
                  in: query
                  description: 'Deprecated: Use `supportsAllDrives` instead.'
                  schema:
                    type: boolean
                - name: includePermissionsForView
                  in: query
                  description: Specifies which additional view's permissions to include in the response. Only `published` is supported.
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/Channel'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Channel'
    /files/{fileId}:
        get:
            description: ' Gets a file''s metadata or content by ID. For more information, see [Search for files and folders](https://developers.google.com/workspace/drive/api/guides/search-files). If you provide the URL parameter `alt=media`, then the response includes the file contents in the response body. Downloading content with `alt=media` only works if the file is stored in Drive. To download Google Docs, Sheets, and Slides use [`files.export`](https://developers.google.com/workspace/drive/api/reference/rest/v3/files/export) instead. For more information, see [Download and export files](https://developers.google.com/workspace/drive/api/guides/manage-downloads).'
            operationId: drive.files.get
            parameters:
                - name: supportsTeamDrives
                  in: query
                  description: 'Deprecated: Use `supportsAllDrives` instead.'
                  schema:
                    type: boolean
                - name: includePermissionsForView
                  in: query
                  description: Specifies which additional view's permissions to include in the response. Only `published` is supported.
                  schema:
                    type: string
                - name: includeLabels
                  in: query
                  description: A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.
                  schema:
                    type: string
                - name: fileId
                  in: path
                  description: The ID of the file.
                  required: true
                  schema:
                    type: string
                - name: acknowledgeAbuse
                  in: query
                  description: Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when the `alt` parameter is set to `media` and the user is the owner of the file or an organizer of the shared drive in which the file resides.
                  schema:
                    type: boolean
                - name: supportsAllDrives
                  in: query
                  description: Whether the requesting application supports both My Drives and shared drives.
                  schema:
                    type: boolean
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/File'
        delete:
            description: Permanently deletes a file owned by the user without moving it to the trash. For more information, see [Trash or delete files and folders](https://developers.google.com/workspace/drive/api/guides/delete). If the file belongs to a shared drive, the user must be an `organizer` on the parent folder. If the target is a folder, all descendants owned by the user are also deleted.
            operationId: drive.files.delete
            parameters:
                - name: fileId
                  in: path
                  description: The ID of the file.
                  required: true
                  schema:
                    type: string
                - name: supportsTeamDrives
                  in: query
                  description: 'Deprecated: Use `supportsAllDrives` instead.'
                  schema:
                    type: boolean
                - name: enforceSingleParent
                  in: query
                  description: 'Deprecated: If an item isn''t in a shared drive and its last parent is deleted but the item itself isn''t, the item will be placed under its owner''s root.'
                  schema:
                    type: boolean
                - name: supportsAllDrives
                  in: query
                  description: Whether the requesting application supports both My Drives and shared drives.
                  schema:
                    type: boolean
            responses:
                default:
                    description: Successful operation
        patch:
            description: ' Updates a file''s metadata, content, or both. When calling this method, only populate fields in the request that you want to modify. When updating fields, some fields might be changed automatically, such as `modifiedDate`. This method supports patch semantics. This method supports an */upload* URI and accepts uploaded media with the following characteristics: - *Maximum file size:* 5,120 GB - *Accepted Media MIME types:* `*/*` (Specify a valid MIME type, rather than the literal `*/*` value. The literal `*/*` is only used to indicate that any valid MIME type can be uploaded. For more information, see [Google Workspace and Google Drive supported MIME types](https://developers.google.com/workspace/drive/api/guides/mime-types).) For more information on uploading files, see [Upload file data](https://developers.google.com/workspace/drive/api/guides/manage-uploads).'
            operationId: drive.files.update
            parameters:
                - name: keepRevisionForever
                  in: query
                  description: Whether to set the `keepForever` field in the new head revision. This is only applicable to files with binary content in Google Drive. Only 200 revisions for the file can be kept forever. If the limit is reached, try deleting pinned revisions.
                  schema:
                    type: boolean
                - name: supportsAllDrives
                  in: query
                  description: Whether the requesting application supports both My Drives and shared drives.
                  schema:
                    type: boolean
                - name: enforceSingleParent
                  in: query
                  description: 'Deprecated: Adding files to multiple folders is no longer supported. Use shortcuts instead.'
                  schema:
                    type: boolean
                - name: addParents
                  in: query
                  description: A comma-separated list of parent IDs to add.
                  schema:
                    type: string
                - name: useContentAsIndexableText
                  in: query
                  description: Whether to use the uploaded content as indexable text.
                  schema:
                    type: boolean
                - name: ocrLanguage
                  in: query
                  description: A language hint for OCR processing during image import (ISO 639-1 code).
                  schema:
                    type: string
                - name: removeParents
                  in: query
                  description: A comma-separated list of parent IDs to remove.
                  schema:
                    type: string
                - name: fileId
                  in: path
                  description: The ID of the file.
                  required: true
                  schema:
                    type: string
                - name: includeLabels
                  in: query
                  description: A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.
                  schema:
                    type: string
                - name: supportsTeamDrives
                  in: query
                  description: 'Deprecated: Use `supportsAllDrives` instead.'
                  schema:
                    type: boolean
                - name: includePermissionsForView
                  in: query
                  description: Specifies which additional view's permissions to include in the response. Only `published` is supported.
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/File'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/File'
    /files/{fileId}/listLabels:
        get:
            description: Lists the labels on a file. For more information, see [List labels on a file](https://developers.google.com/workspace/drive/api/guides/list-labels).
            operationId: drive.files.listLabels
            parameters:
                - name: fileId
                  in: path
                  description: The ID for the file.
                  required: true
                  schema:
                    type: string
                - name: maxResults
                  in: query
                  description: The maximum number of labels to return per page. When not set, defaults to 100.
                  schema:
                    type: integer
                    format: int32
                - name: pageToken
                  in: query
                  description: The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response.
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/LabelList'
    /files/{fileId}/modifyLabels:
        post:
            description: Modifies the set of labels applied to a file. For more information, see [Set a label field on a file](https://developers.google.com/workspace/drive/api/guides/set-label). Returns a list of the labels that were added or modified.
            operationId: drive.files.modifyLabels
            parameters:
                - name: fileId
                  in: path
                  description: The ID of the file to which the labels belong.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/ModifyLabelsRequest'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/ModifyLabelsResponse'
    /files/generateIds:
        get:
            description: Generates a set of file IDs which can be provided in create or copy requests. For more information, see [Create and manage files](https://developers.google.com/workspace/drive/api/guides/create-file).
            operationId: drive.files.generateIds
            parameters:
                - name: space
                  in: query
                  description: 'The space in which the IDs can be used to create files. Supported values are `drive` and `appDataFolder`. (Default: `drive`.) For more information, see [File organization](https://developers.google.com/workspace/drive/api/guides/about-files#file-organization).'
                  schema:
                    type: string
                - name: type
                  in: query
                  description: 'The type of items which the IDs can be used for. Supported values are `files` and `shortcuts`. Note that `shortcuts` are only supported in the `drive` `space`. (Default: `files`.) For more information, see [File organization](https://developers.google.com/workspace/drive/api/guides/about-files#file-organization).'
                  schema:
                    type: string
                - name: count
                  in: query
                  description: The number of IDs to return.
                  schema:
                    type: integer
                    format: int32
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/GeneratedIds'
    /files/{fileId}/export:
        get:
            description: Exports a Google Workspace document to the requested MIME type and returns exported byte content. For more information, see [Download and export files](https://developers.google.com/workspace/drive/api/guides/manage-downloads). Note that the exported content is limited to 10 MB.
            operationId: drive.files.export
            parameters:
                - name: fileId
                  in: path
                  description: The ID of the file.
                  required: true
                  schema:
                    type: string
                - name: mimeType
                  in: query
                  description: Required. The MIME type of the format requested for this export. For a list of supported MIME types, see [Export MIME types for Google Workspace documents](/workspace/drive/api/guides/ref-export-formats).
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
    /files/{fileId}/download:
        post:
            description: Downloads the content of a file. For more information, see [Download and export files](https://developers.google.com/workspace/drive/api/guides/manage-downloads). Operations are valid for 24 hours from the time of creation.
            operationId: drive.files.download
            parameters:
                - name: mimeType
                  in: query
                  description: Optional. The MIME type the file should be downloaded as. This field can only be set when downloading Google Workspace documents. For a list of supported MIME types, see [Export MIME types for Google Workspace documents](/workspace/drive/api/guides/ref-export-formats). If not set, a Google Workspace document is downloaded with a default MIME type. The default MIME type might change in the future.
                  schema:
                    type: string
                - name: fileId
                  in: path
                  description: Required. The ID of the file to download.
                  required: true
                  schema:
                    type: string
                - name: revisionId
                  in: query
                  description: Optional. The revision ID of the file to download. This field can only be set when downloading blob files, Google Docs, and Google Sheets. Returns `INVALID_ARGUMENT` if downloading a specific revision on the file is unsupported.
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Operation'
    /files/{fileId}/copy:
        post:
            description: Creates a copy of a file and applies any requested updates with patch semantics. For more information, see [Create and manage files](https://developers.google.com/workspace/drive/api/guides/create-file).
            operationId: drive.files.copy
            parameters:
                - name: ocrLanguage
                  in: query
                  description: A language hint for OCR processing during image import (ISO 639-1 code).
                  schema:
                    type: string
                - name: enforceSingleParent
                  in: query
                  description: 'Deprecated: Copying files into multiple folders is no longer supported. Use shortcuts instead.'
                  schema:
                    type: boolean
                - name: ignoreDefaultVisibility
                  in: query
                  description: Whether to ignore the domain's default visibility settings for the created file. Domain administrators can choose to make all uploaded files visible to the domain by default; this parameter bypasses that behavior for the request. Permissions are still inherited from parent folders.
                  schema:
                    type: boolean
                - name: keepRevisionForever
                  in: query
                  description: Whether to set the `keepForever` field in the new head revision. This is only applicable to files with binary content in Google Drive. Only 200 revisions for the file can be kept forever. If the limit is reached, try deleting pinned revisions.
                  schema:
                    type: boolean
                - name: supportsAllDrives
                  in: query
                  description: Whether the requesting application supports both My Drives and shared drives.
                  schema:
                    type: boolean
                - name: supportsTeamDrives
                  in: query
                  description: 'Deprecated: Use `supportsAllDrives` instead.'
                  schema:
                    type: boolean
                - name: includePermissionsForView
                  in: query
                  description: Specifies which additional view's permissions to include in the response. Only `published` is supported.
                  schema:
                    type: string
                - name: includeLabels
                  in: query
                  description: A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.
                  schema:
                    type: string
                - name: fileId
                  in: path
                  description: The ID of the file.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/File'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/File'
    /files/{fileId}/accessproposals:
        get:
            description: 'List the access proposals on a file. For more information, see [Manage pending access proposals](https://developers.google.com/workspace/drive/api/guides/pending-access). Note: Only approvers are able to list access proposals on a file. If the user isn''t an approver, a 403 error is returned.'
            operationId: drive.accessproposals.list
            parameters:
                - name: pageSize
                  in: query
                  description: Optional. The number of results per page.
                  schema:
                    type: integer
                    format: int32
                - name: fileId
                  in: path
                  description: Required. The ID of the item the request is on.
                  required: true
                  schema:
                    type: string
                - name: pageToken
                  in: query
                  description: Optional. The continuation token on the list of access requests.
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/ListAccessProposalsResponse'
    /files/{fileId}/accessproposals/{proposalId}:resolve:
        post:
            description: Approves or denies an access proposal. For more information, see [Manage pending access proposals](https://developers.google.com/workspace/drive/api/guides/pending-access).
            operationId: drive.accessproposals.resolve
            parameters:
                - name: fileId
                  in: path
                  description: Required. The ID of the item the request is on.
                  required: true
                  schema:
                    type: string
                - name: proposalId
                  in: path
                  description: Required. The ID of the access proposal to resolve.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/ResolveAccessProposalRequest'
            responses:
                default:
                    description: Successful operation
    /files/{fileId}/accessproposals/{proposalId}:
        get:
            description: Retrieves an access proposal by ID. For more information, see [Manage pending access proposals](https://developers.google.com/workspace/drive/api/guides/pending-access).
            operationId: drive.accessproposals.get
            parameters:
                - name: proposalId
                  in: path
                  description: Required. The ID of the access proposal to resolve.
                  required: true
                  schema:
                    type: string
                - name: fileId
                  in: path
                  description: Required. The ID of the item the request is on.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/AccessProposal'
    /changes/startPageToken:
        get:
            description: Gets the starting pageToken for listing future changes. For more information, see [Retrieve changes](https://developers.google.com/workspace/drive/api/guides/manage-changes).
            operationId: drive.changes.getStartPageToken
            parameters:
                - name: driveId
                  in: query
                  description: The ID of the shared drive for which the starting pageToken for listing future changes from that shared drive will be returned.
                  schema:
                    type: string
                - name: supportsAllDrives
                  in: query
                  description: Whether the requesting application supports both My Drives and shared drives.
                  schema:
                    type: boolean
                - name: supportsTeamDrives
                  in: query
                  description: 'Deprecated: Use `supportsAllDrives` instead.'
                  schema:
                    type: boolean
                - name: teamDriveId
                  in: query
                  description: 'Deprecated: Use `driveId` instead.'
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/StartPageToken'
    /changes/watch:
        post:
            description: Subscribes to changes for a user. For more information, see [Notifications for resource changes](https://developers.google.com/workspace/drive/api/guides/push).
            operationId: drive.changes.watch
            parameters:
                - name: pageSize
                  in: query
                  description: The maximum number of changes to return per page.
                  schema:
                    type: integer
                    format: int32
                - name: pageToken
                  in: query
                  description: The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response or to the response from the getStartPageToken method.
                  required: true
                  schema:
                    type: string
                - name: includeRemoved
                  in: query
                  description: Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access.
                  schema:
                    type: boolean
                - name: includePermissionsForView
                  in: query
                  description: Specifies which additional view's permissions to include in the response. Only 'published' is supported.
                  schema:
                    type: string
                - name: includeLabels
                  in: query
                  description: A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.
                  schema:
                    type: string
                - name: supportsAllDrives
                  in: query
                  description: Whether the requesting application supports both My Drives and shared drives.
                  schema:
                    type: boolean
                - name: includeTeamDriveItems
                  in: query
                  description: 'Deprecated: Use `includeItemsFromAllDrives` instead.'
                  schema:
                    type: boolean
                - name: spaces
                  in: query
                  description: A comma-separated list of spaces to query within the corpora. Supported values are 'drive' and 'appDataFolder'.
                  schema:
                    type: string
                - name: teamDriveId
                  in: query
                  description: 'Deprecated: Use `driveId` instead.'
                  schema:
                    type: string
                - name: includeCorpusRemovals
                  in: query
                  description: Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file.
                  schema:
                    type: boolean
                - name: includeItemsFromAllDrives
                  in: query
                  description: Whether both My Drive and shared drive items should be included in results.
                  schema:
                    type: boolean
                - name: supportsTeamDrives
                  in: query
                  description: 'Deprecated: Use `supportsAllDrives` instead.'
                  schema:
                    type: boolean
                - name: driveId
                  in: query
                  description: The shared drive from which changes will be returned. If specified the change IDs will be reflective of the shared drive; use the combined drive ID and change ID as an identifier.
                  schema:
                    type: string
                - name: restrictToMyDrive
                  in: query
                  description: Whether to restrict the results to changes inside the My Drive hierarchy. This omits changes to files such as those in the Application Data folder or shared files which have not been added to My Drive.
                  schema:
                    type: boolean
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/Channel'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Channel'
    /changes:
        get:
            description: Lists the changes for a user or shared drive. For more information, see [Retrieve changes](https://developers.google.com/workspace/drive/api/guides/manage-changes).
            operationId: drive.changes.list
            parameters:
                - name: spaces
                  in: query
                  description: A comma-separated list of spaces to query within the corpora. Supported values are 'drive' and 'appDataFolder'.
                  schema:
                    type: string
                - name: includeTeamDriveItems
                  in: query
                  description: 'Deprecated: Use `includeItemsFromAllDrives` instead.'
                  schema:
                    type: boolean
                - name: supportsAllDrives
                  in: query
                  description: Whether the requesting application supports both My Drives and shared drives.
                  schema:
                    type: boolean
                - name: includeLabels
                  in: query
                  description: A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.
                  schema:
                    type: string
                - name: includePermissionsForView
                  in: query
                  description: Specifies which additional view's permissions to include in the response. Only 'published' is supported.
                  schema:
                    type: string
                - name: includeRemoved
                  in: query
                  description: Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access.
                  schema:
                    type: boolean
                - name: pageSize
                  in: query
                  description: The maximum number of changes to return per page.
                  schema:
                    type: integer
                    format: int32
                - name: pageToken
                  in: query
                  description: The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response or to the response from the getStartPageToken method.
                  required: true
                  schema:
                    type: string
                - name: driveId
                  in: query
                  description: The shared drive from which changes will be returned. If specified the change IDs will be reflective of the shared drive; use the combined drive ID and change ID as an identifier.
                  schema:
                    type: string
                - name: restrictToMyDrive
                  in: query
                  description: Whether to restrict the results to changes inside the My Drive hierarchy. This omits changes to files such as those in the Application Data folder or shared files which have not been added to My Drive.
                  schema:
                    type: boolean
                - name: supportsTeamDrives
                  in: query
                  description: 'Deprecated: Use `supportsAllDrives` instead.'
                  schema:
                    type: boolean
                - name: includeCorpusRemovals
                  in: query
                  description: Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file.
                  schema:
                    type: boolean
                - name: includeItemsFromAllDrives
                  in: query
                  description: Whether both My Drive and shared drive items should be included in results.
                  schema:
                    type: boolean
                - name: teamDriveId
                  in: query
                  description: 'Deprecated: Use `driveId` instead.'
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/ChangeList'
    /apps/{appId}:
        get:
            description: Gets a specific app. For more information, see [Return user info](https://developers.google.com/workspace/drive/api/guides/user-info).
            operationId: drive.apps.get
            parameters:
                - name: appId
                  in: path
                  description: The ID of the app.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/App'
    /apps:
        get:
            description: Lists a user's installed apps. For more information, see [Return user info](https://developers.google.com/workspace/drive/api/guides/user-info).
            operationId: drive.apps.list
            parameters:
                - name: languageCode
                  in: query
                  description: A language or locale code, as defined by BCP 47, with some extensions from Unicode's LDML format (http://www.unicode.org/reports/tr35/).
                  schema:
                    type: string
                - name: appFilterExtensions
                  in: query
                  description: A comma-separated list of file extensions to limit returned results. All results within the given app query scope which can open any of the given file extensions are included in the response. If `appFilterMimeTypes` are provided as well, the result is a union of the two resulting app lists.
                  schema:
                    type: string
                - name: appFilterMimeTypes
                  in: query
                  description: A comma-separated list of file extensions to limit returned results. All results within the given app query scope which can open any of the given MIME types will be included in the response. If `appFilterExtensions` are provided as well, the result is a union of the two resulting app lists.
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/AppList'
    /files/{fileId}/permissions/{permissionId}:
        get:
            description: Gets a permission by ID. For more information, see [Share files, folders, and drives](https://developers.google.com/workspace/drive/api/guides/manage-sharing).
            operationId: drive.permissions.get
            parameters:
                - name: supportsTeamDrives
                  in: query
                  description: 'Deprecated: Use `supportsAllDrives` instead.'
                  schema:
                    type: boolean
                - name: fileId
                  in: path
                  description: The ID of the file.
                  required: true
                  schema:
                    type: string
                - name: permissionId
                  in: path
                  description: The ID of the permission.
                  required: true
                  schema:
                    type: string
                - name: supportsAllDrives
                  in: query
                  description: Whether the requesting application supports both My Drives and shared drives.
                  schema:
                    type: boolean
                - name: useDomainAdminAccess
                  in: query
                  description: 'Issue the request as a domain administrator. If set to `true`, and if the following additional conditions are met, the requester is granted access: 1. The file ID parameter refers to a shared drive. 2. The requester is an administrator of the domain to which the shared drive belongs. For more information, see [Manage shared drives as domain administrators](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives#manage-administrators).'
                  schema:
                    type: boolean
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Permission'
        delete:
            description: Deletes a permission. For more information, see [Share files, folders, and drives](https://developers.google.com/workspace/drive/api/guides/manage-sharing). **Warning:** Concurrent permissions operations on the same file aren't supported; only the last update is applied.
            operationId: drive.permissions.delete
            parameters:
                - name: enforceExpansiveAccess
                  in: query
                  description: 'Deprecated: All requests use the expansive access rules.'
                  schema:
                    type: boolean
                - name: supportsTeamDrives
                  in: query
                  description: 'Deprecated: Use `supportsAllDrives` instead.'
                  schema:
                    type: boolean
                - name: fileId
                  in: path
                  description: The ID of the file or shared drive.
                  required: true
                  schema:
                    type: string
                - name: permissionId
                  in: path
                  description: The ID of the permission.
                  required: true
                  schema:
                    type: string
                - name: supportsAllDrives
                  in: query
                  description: Whether the requesting application supports both My Drives and shared drives.
                  schema:
                    type: boolean
                - name: useDomainAdminAccess
                  in: query
                  description: 'Issue the request as a domain administrator. If set to `true`, and if the following additional conditions are met, the requester is granted access: 1. The file ID parameter refers to a shared drive. 2. The requester is an administrator of the domain to which the shared drive belongs. For more information, see [Manage shared drives as domain administrators](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives#manage-administrators).'
                  schema:
                    type: boolean
            responses:
                default:
                    description: Successful operation
        patch:
            description: Updates a permission with patch semantics. For more information, see [Share files, folders, and drives](https://developers.google.com/workspace/drive/api/guides/manage-sharing). **Warning:** Concurrent permissions operations on the same file aren't supported; only the last update is applied.
            operationId: drive.permissions.update
            parameters:
                - name: supportsTeamDrives
                  in: query
                  description: 'Deprecated: Use `supportsAllDrives` instead.'
                  schema:
                    type: boolean
                - name: enforceExpansiveAccess
                  in: query
                  description: 'Deprecated: All requests use the expansive access rules.'
                  schema:
                    type: boolean
                - name: removeExpiration
                  in: query
                  description: Whether to remove the expiration date.
                  schema:
                    type: boolean
                - name: transferOwnership
                  in: query
                  description: Whether to transfer ownership to the specified user and downgrade the current owner to a writer. This parameter is required as an acknowledgement of the side effect. For more information, see [Transfer file ownership](https://developers.google.com//workspace/drive/api/guides/transfer-file).
                  schema:
                    type: boolean
                - name: fileId
                  in: path
                  description: The ID of the file or shared drive.
                  required: true
                  schema:
                    type: string
                - name: permissionId
                  in: path
                  description: The ID of the permission.
                  required: true
                  schema:
                    type: string
                - name: supportsAllDrives
                  in: query
                  description: Whether the requesting application supports both My Drives and shared drives.
                  schema:
                    type: boolean
                - name: useDomainAdminAccess
                  in: query
                  description: 'Issue the request as a domain administrator. If set to `true`, and if the following additional conditions are met, the requester is granted access: 1. The file ID parameter refers to a shared drive. 2. The requester is an administrator of the domain to which the shared drive belongs. For more information, see [Manage shared drives as domain administrators](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives#manage-administrators).'
                  schema:
                    type: boolean
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/Permission'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Permission'
    /files/{fileId}/permissions:
        get:
            description: Lists a file's or shared drive's permissions. For more information, see [Share files, folders, and drives](https://developers.google.com/workspace/drive/api/guides/manage-sharing).
            operationId: drive.permissions.list
            parameters:
                - name: pageSize
                  in: query
                  description: The maximum number of permissions to return per page. When not set for files in a shared drive, at most 100 results will be returned. When not set for files that are not in a shared drive, the entire list will be returned.
                  schema:
                    type: integer
                    format: int32
                - name: fileId
                  in: path
                  description: The ID of the file or shared drive.
                  required: true
                  schema:
                    type: string
                - name: pageToken
                  in: query
                  description: The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response.
                  schema:
                    type: string
                - name: supportsAllDrives
                  in: query
                  description: Whether the requesting application supports both My Drives and shared drives.
                  schema:
                    type: boolean
                - name: useDomainAdminAccess
                  in: query
                  description: 'Issue the request as a domain administrator. If set to `true`, and if the following additional conditions are met, the requester is granted access: 1. The file ID parameter refers to a shared drive. 2. The requester is an administrator of the domain to which the shared drive belongs. For more information, see [Manage shared drives as domain administrators](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives#manage-administrators).'
                  schema:
                    type: boolean
                - name: supportsTeamDrives
                  in: query
                  description: 'Deprecated: Use `supportsAllDrives` instead.'
                  schema:
                    type: boolean
                - name: includePermissionsForView
                  in: query
                  description: Specifies which additional view's permissions to include in the response. Only `published` is supported.
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/PermissionList'
        post:
            description: Creates a permission for a file or shared drive. For more information, see [Share files, folders, and drives](https://developers.google.com/workspace/drive/api/guides/manage-sharing). **Warning:** Concurrent permissions operations on the same file aren't supported; only the last update is applied.
            operationId: drive.permissions.create
            parameters:
                - name: transferOwnership
                  in: query
                  description: Whether to transfer ownership to the specified user and downgrade the current owner to a writer. This parameter is required as an acknowledgement of the side effect. For more information, see [Transfer file ownership](https://developers.google.com/workspace/drive/api/guides/transfer-file).
                  schema:
                    type: boolean
                - name: enforceExpansiveAccess
                  in: query
                  description: 'Deprecated: All requests use the expansive access rules.'
                  schema:
                    type: boolean
                - name: supportsAllDrives
                  in: query
                  description: Whether the requesting application supports both My Drives and shared drives.
                  schema:
                    type: boolean
                - name: useDomainAdminAccess
                  in: query
                  description: 'Issue the request as a domain administrator. If set to `true`, and if the following additional conditions are met, the requester is granted access: 1. The file ID parameter refers to a shared drive. 2. The requester is an administrator of the domain to which the shared drive belongs. For more information, see [Manage shared drives as domain administrators](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives#manage-administrators).'
                  schema:
                    type: boolean
                - name: emailMessage
                  in: query
                  description: A plain text custom message to include in the notification email.
                  schema:
                    type: string
                - name: enforceSingleParent
                  in: query
                  description: 'Deprecated: See `moveToNewOwnersRoot` for details.'
                  schema:
                    type: boolean
                - name: sendNotificationEmail
                  in: query
                  description: Whether to send a notification email when sharing to users or groups. This defaults to `true` for users and groups, and is not allowed for other requests. It must not be disabled for ownership transfers.
                  schema:
                    type: boolean
                - name: supportsTeamDrives
                  in: query
                  description: 'Deprecated: Use `supportsAllDrives` instead.'
                  schema:
                    type: boolean
                - name: moveToNewOwnersRoot
                  in: query
                  description: This parameter only takes effect if the item isn't in a shared drive and the request is attempting to transfer the ownership of the item. If set to `true`, the item is moved to the new owner's My Drive root folder and all prior parents removed. If set to `false`, parents aren't changed.
                  schema:
                    type: boolean
                - name: fileId
                  in: path
                  description: The ID of the file or shared drive.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/Permission'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Permission'
    /operations/{name}:
        get:
            description: Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.
            operationId: drive.operations.get
            parameters:
                - name: name
                  in: path
                  description: The name of the operation resource.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Operation'
    /files/{fileId}/comments/{commentId}:
        get:
            description: 'Gets a comment by ID. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments). Required: The `fields` parameter must be set. To return the exact fields you need, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter).'
            operationId: drive.comments.get
            parameters:
                - name: fileId
                  in: path
                  description: The ID of the file.
                  required: true
                  schema:
                    type: string
                - name: commentId
                  in: path
                  description: The ID of the comment.
                  required: true
                  schema:
                    type: string
                - name: includeDeleted
                  in: query
                  description: Whether to return deleted comments. Deleted comments will not include their original content.
                  schema:
                    type: boolean
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Comment'
        delete:
            description: Deletes a comment. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments).
            operationId: drive.comments.delete
            parameters:
                - name: fileId
                  in: path
                  description: The ID of the file.
                  required: true
                  schema:
                    type: string
                - name: commentId
                  in: path
                  description: The ID of the comment.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
        patch:
            description: 'Updates a comment with patch semantics. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments). Required: The `fields` parameter must be set. To return the exact fields you need, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter).'
            operationId: drive.comments.update
            parameters:
                - name: fileId
                  in: path
                  description: The ID of the file.
                  required: true
                  schema:
                    type: string
                - name: commentId
                  in: path
                  description: The ID of the comment.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/Comment'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Comment'
    /files/{fileId}/comments:
        get:
            description: 'Lists a file''s comments. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments). Required: The `fields` parameter must be set. To return the exact fields you need, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter).'
            operationId: drive.comments.list
            parameters:
                - name: fileId
                  in: path
                  description: The ID of the file.
                  required: true
                  schema:
                    type: string
                - name: pageToken
                  in: query
                  description: The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.
                  schema:
                    type: string
                - name: pageSize
                  in: query
                  description: The maximum number of comments to return per page.
                  schema:
                    type: integer
                    format: int32
                - name: startModifiedTime
                  in: query
                  description: The minimum value of 'modifiedTime' for the result comments (RFC 3339 date-time).
                  schema:
                    type: string
                - name: includeDeleted
                  in: query
                  description: Whether to include deleted comments. Deleted comments will not include their original content.
                  schema:
                    type: boolean
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/CommentList'
        post:
            description: 'Creates a comment on a file. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments). Required: The `fields` parameter must be set. To return the exact fields you need, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter).'
            operationId: drive.comments.create
            parameters:
                - name: fileId
                  in: path
                  description: The ID of the file.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/Comment'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Comment'
    /about:
        get:
            description: 'Gets information about the user, the user''s Drive, and system capabilities. For more information, see [Return user info](https://developers.google.com/workspace/drive/api/guides/user-info). Required: The `fields` parameter must be set. To return the exact fields you need, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter).'
            operationId: drive.about.get
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/About'
    /drives/{driveId}:
        get:
            description: Gets a shared drive's metadata by ID. For more information, see [Manage shared drives](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives).
            operationId: drive.drives.get
            parameters:
                - name: driveId
                  in: path
                  description: The ID of the shared drive.
                  required: true
                  schema:
                    type: string
                - name: useDomainAdminAccess
                  in: query
                  description: Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.
                  schema:
                    type: boolean
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Drive'
        delete:
            description: Permanently deletes a shared drive for which the user is an `organizer`. The shared drive cannot contain any untrashed items. For more information, see [Manage shared drives](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives).
            operationId: drive.drives.delete
            parameters:
                - name: allowItemDeletion
                  in: query
                  description: Whether any items inside the shared drive should also be deleted. This option is only supported when `useDomainAdminAccess` is also set to `true`.
                  schema:
                    type: boolean
                - name: driveId
                  in: path
                  description: The ID of the shared drive.
                  required: true
                  schema:
                    type: string
                - name: useDomainAdminAccess
                  in: query
                  description: Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.
                  schema:
                    type: boolean
            responses:
                default:
                    description: Successful operation
        patch:
            description: Updates the metadata for a shared drive. For more information, see [Manage shared drives](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives).
            operationId: drive.drives.update
            parameters:
                - name: driveId
                  in: path
                  description: The ID of the shared drive.
                  required: true
                  schema:
                    type: string
                - name: useDomainAdminAccess
                  in: query
                  description: Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.
                  schema:
                    type: boolean
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/Drive'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Drive'
    /drives/{driveId}/unhide:
        post:
            description: Restores a shared drive to the default view. For more information, see [Manage shared drives](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives).
            operationId: drive.drives.unhide
            parameters:
                - name: driveId
                  in: path
                  description: The ID of the shared drive.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Drive'
    /drives:
        get:
            description: ' Lists the user''s shared drives. This method accepts the `q` parameter, which is a search query combining one or more search terms. For more information, see the [Search for shared drives](https://developers.google.com/workspace/drive/api/guides/search-shareddrives) guide.'
            operationId: drive.drives.list
            parameters:
                - name: pageSize
                  in: query
                  description: Maximum number of shared drives to return per page.
                  schema:
                    type: integer
                    format: int32
                - name: pageToken
                  in: query
                  description: Page token for shared drives.
                  schema:
                    type: string
                - name: q
                  in: query
                  description: Query string for searching shared drives.
                  schema:
                    type: string
                - name: useDomainAdminAccess
                  in: query
                  description: Issue the request as a domain administrator; if set to true, then all shared drives of the domain in which the requester is an administrator are returned.
                  schema:
                    type: boolean
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/DriveList'
        post:
            description: Creates a shared drive. For more information, see [Manage shared drives](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives).
            operationId: drive.drives.create
            parameters:
                - name: requestId
                  in: query
                  description: Required. An ID, such as a random UUID, which uniquely identifies this user's request for idempotent creation of a shared drive. A repeated request by the same user and with the same request ID will avoid creating duplicates by attempting to create the same shared drive. If the shared drive already exists a 409 error will be returned.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/Drive'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Drive'
    /drives/{driveId}/hide:
        post:
            description: Hides a shared drive from the default view. For more information, see [Manage shared drives](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives).
            operationId: drive.drives.hide
            parameters:
                - name: driveId
                  in: path
                  description: The ID of the shared drive.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Drive'
    /files/{fileId}/comments/{commentId}/replies:
        get:
            description: Lists a comment's replies. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments).
            operationId: drive.replies.list
            parameters:
                - name: fileId
                  in: path
                  description: The ID of the file.
                  required: true
                  schema:
                    type: string
                - name: pageToken
                  in: query
                  description: The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response.
                  schema:
                    type: string
                - name: commentId
                  in: path
                  description: The ID of the comment.
                  required: true
                  schema:
                    type: string
                - name: pageSize
                  in: query
                  description: The maximum number of replies to return per page.
                  schema:
                    type: integer
                    format: int32
                - name: includeDeleted
                  in: query
                  description: Whether to include deleted replies. Deleted replies don't include their original content.
                  schema:
                    type: boolean
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/ReplyList'
        post:
            description: Creates a reply to a comment. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments).
            operationId: drive.replies.create
            parameters:
                - name: commentId
                  in: path
                  description: The ID of the comment.
                  required: true
                  schema:
                    type: string
                - name: fileId
                  in: path
                  description: The ID of the file.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/Reply'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Reply'
    /files/{fileId}/comments/{commentId}/replies/{replyId}:
        get:
            description: Gets a reply by ID. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments).
            operationId: drive.replies.get
            parameters:
                - name: includeDeleted
                  in: query
                  description: Whether to return deleted replies. Deleted replies don't include their original content.
                  schema:
                    type: boolean
                - name: replyId
                  in: path
                  description: The ID of the reply.
                  required: true
                  schema:
                    type: string
                - name: commentId
                  in: path
                  description: The ID of the comment.
                  required: true
                  schema:
                    type: string
                - name: fileId
                  in: path
                  description: The ID of the file.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Reply'
        delete:
            description: Deletes a reply. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments).
            operationId: drive.replies.delete
            parameters:
                - name: replyId
                  in: path
                  description: The ID of the reply.
                  required: true
                  schema:
                    type: string
                - name: fileId
                  in: path
                  description: The ID of the file.
                  required: true
                  schema:
                    type: string
                - name: commentId
                  in: path
                  description: The ID of the comment.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
        patch:
            description: Updates a reply with patch semantics. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments).
            operationId: drive.replies.update
            parameters:
                - name: commentId
                  in: path
                  description: The ID of the comment.
                  required: true
                  schema:
                    type: string
                - name: fileId
                  in: path
                  description: The ID of the file.
                  required: true
                  schema:
                    type: string
                - name: replyId
                  in: path
                  description: The ID of the reply.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/Reply'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Reply'
    /files/{fileId}/revisions/{revisionId}:
        get:
            description: Gets a revision's metadata or content by ID. For more information, see [Manage file revisions](https://developers.google.com/workspace/drive/api/guides/manage-revisions).
            operationId: drive.revisions.get
            parameters:
                - name: fileId
                  in: path
                  description: The ID of the file.
                  required: true
                  schema:
                    type: string
                - name: revisionId
                  in: path
                  description: The ID of the revision.
                  required: true
                  schema:
                    type: string
                - name: acknowledgeAbuse
                  in: query
                  description: Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when the `alt` parameter is set to `media` and the user is the owner of the file or an organizer of the shared drive in which the file resides.
                  schema:
                    type: boolean
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Revision'
        delete:
            description: Permanently deletes a file version. You can only delete revisions for files with binary content in Google Drive, like images or videos. Revisions for other files, like Google Docs or Sheets, and the last remaining file version can't be deleted. For more information, see [Manage file revisions](https://developers.google.com/drive/api/guides/manage-revisions).
            operationId: drive.revisions.delete
            parameters:
                - name: fileId
                  in: path
                  description: The ID of the file.
                  required: true
                  schema:
                    type: string
                - name: revisionId
                  in: path
                  description: The ID of the revision.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
        patch:
            description: Updates a revision with patch semantics. For more information, see [Manage file revisions](https://developers.google.com/workspace/drive/api/guides/manage-revisions).
            operationId: drive.revisions.update
            parameters:
                - name: fileId
                  in: path
                  description: The ID of the file.
                  required: true
                  schema:
                    type: string
                - name: revisionId
                  in: path
                  description: The ID of the revision.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/Revision'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Revision'
    /files/{fileId}/revisions:
        get:
            description: Lists a file's revisions. For more information, see [Manage file revisions](https://developers.google.com/workspace/drive/api/guides/manage-revisions). **Important:** The list of revisions returned by this method might be incomplete for files with a large revision history, including frequently edited Google Docs, Sheets, and Slides. Older revisions might be omitted from the response, meaning the first revision returned may not be the oldest existing revision. The revision history visible in the Workspace editor user interface might be more complete than the list returned by the API.
            operationId: drive.revisions.list
            parameters:
                - name: fileId
                  in: path
                  description: The ID of the file.
                  required: true
                  schema:
                    type: string
                - name: pageToken
                  in: query
                  description: The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.
                  schema:
                    type: string
                - name: pageSize
                  in: query
                  description: The maximum number of revisions to return per page.
                  schema:
                    type: integer
                    format: int32
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/RevisionList'
    /teamdrives/{teamDriveId}:
        get:
            description: 'Deprecated: Use `drives.get` instead.'
            operationId: drive.teamdrives.get
            parameters:
                - name: useDomainAdminAccess
                  in: query
                  description: Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the Team Drive belongs.
                  schema:
                    type: boolean
                - name: teamDriveId
                  in: path
                  description: The ID of the Team Drive
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/TeamDrive'
        delete:
            description: 'Deprecated: Use `drives.delete` instead.'
            operationId: drive.teamdrives.delete
            parameters:
                - name: teamDriveId
                  in: path
                  description: The ID of the Team Drive
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
        patch:
            description: 'Deprecated: Use `drives.update` instead.'
            operationId: drive.teamdrives.update
            parameters:
                - name: teamDriveId
                  in: path
                  description: The ID of the Team Drive
                  required: true
                  schema:
                    type: string
                - name: useDomainAdminAccess
                  in: query
                  description: Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the Team Drive belongs.
                  schema:
                    type: boolean
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/TeamDrive'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/TeamDrive'
    /teamdrives:
        get:
            description: 'Deprecated: Use `drives.list` instead.'
            operationId: drive.teamdrives.list
            parameters:
                - name: pageSize
                  in: query
                  description: Maximum number of Team Drives to return.
                  schema:
                    type: integer
                    format: int32
                - name: pageToken
                  in: query
                  description: Page token for Team Drives.
                  schema:
                    type: string
                - name: q
                  in: query
                  description: Query string for searching Team Drives.
                  schema:
                    type: string
                - name: useDomainAdminAccess
                  in: query
                  description: Issue the request as a domain administrator; if set to true, then all Team Drives of the domain in which the requester is an administrator are returned.
                  schema:
                    type: boolean
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/TeamDriveList'
        post:
            description: 'Deprecated: Use `drives.create` instead.'
            operationId: drive.teamdrives.create
            parameters:
                - name: requestId
                  in: query
                  description: Required. An ID, such as a random UUID, which uniquely identifies this user's request for idempotent creation of a Team Drive. A repeated request by the same user and with the same request ID will avoid creating duplicates by attempting to create the same Team Drive. If the Team Drive already exists a 409 error will be returned.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/TeamDrive'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/TeamDrive'
    /files/{fileId}/approvals/{approvalId}:
        get:
            description: Gets an Approval by ID.
            operationId: drive.approvals.get
            parameters:
                - name: fileId
                  in: path
                  description: Required. The ID of the file the Approval is on.
                  required: true
                  schema:
                    type: string
                - name: approvalId
                  in: path
                  description: Required. The ID of the Approval.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Approval'
    /files/{fileId}/approvals:
        get:
            description: Lists the Approvals on a file.
            operationId: drive.approvals.list
            parameters:
                - name: pageSize
                  in: query
                  description: The maximum number of Approvals to return. When not set, at most 100 Approvals will be returned.
                  schema:
                    type: integer
                    format: int32
                - name: fileId
                  in: path
                  description: Required. The ID of the file the Approval is on.
                  required: true
                  schema:
                    type: string
                - name: pageToken
                  in: query
                  description: The token for continuing a previous list request on the next page. This should be set to the value of nextPageToken from a previous response.
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/ApprovalList'
    /channels/stop:
        post:
            description: Stops watching resources through this channel. For more information, see [Notifications for resource changes](https://developers.google.com/workspace/drive/api/guides/push).
            operationId: drive.channels.stop
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/Channel'
            responses:
                default:
[...]
