openapi: "3.0"
info:
    title: Gmail API
    description: The Gmail API lets you view and manage Gmail mailbox data like threads, messages, and labels.
    version: v1
servers:
    - url: https://gmail.googleapis.com/
paths:
    /gmail/v1/users/{userId}/profile:
        get:
            description: Gets the current user's Gmail profile.
            operationId: gmail.users.getProfile
            parameters:
                - name: userId
                  in: path
                  description: The user's email address. The special value `me` can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Profile'
    /gmail/v1/users/{userId}/watch:
        post:
            description: Set up or update a push notification watch on the given user mailbox.
            operationId: gmail.users.watch
            parameters:
                - name: userId
                  in: path
                  description: The user's email address. The special value `me` can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/WatchRequest'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/WatchResponse'
    /gmail/v1/users/{userId}/stop:
        post:
            description: Stop receiving push notifications for the given user mailbox.
            operationId: gmail.users.stop
            parameters:
                - name: userId
                  in: path
                  description: The user's email address. The special value `me` can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
    /gmail/v1/users/{userId}/drafts/{id}:
        get:
            description: Gets the specified draft.
            operationId: gmail.users.drafts.get
            parameters:
                - name: userId
                  in: path
                  description: The user's email address. The special value `me` can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
                - name: id
                  in: path
                  description: The ID of the draft to retrieve.
                  required: true
                  schema:
                    type: string
                - name: format
                  in: query
                  description: The format to return the draft in.
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Draft'
        put:
            description: Replaces a draft's content.
            operationId: gmail.users.drafts.update
            parameters:
                - name: userId
                  in: path
                  description: The user's email address. The special value `me` can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
                - name: id
                  in: path
                  description: The ID of the draft to update.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/Draft'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Draft'
        delete:
            description: Immediately and permanently deletes the specified draft. Does not simply trash it.
            operationId: gmail.users.drafts.delete
            parameters:
                - name: userId
                  in: path
                  description: The user's email address. The special value `me` can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
                - name: id
                  in: path
                  description: The ID of the draft to delete.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
    /gmail/v1/users/{userId}/drafts:
        get:
            description: Lists the drafts in the user's mailbox.
            operationId: gmail.users.drafts.list
            parameters:
                - name: userId
                  in: path
                  description: The user's email address. The special value `me` can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
                - name: maxResults
                  in: query
                  description: Maximum number of drafts to return. This field defaults to 100. The maximum allowed value for this field is 500.
                  schema:
                    type: integer
                    format: uint32
                - name: pageToken
                  in: query
                  description: Page token to retrieve a specific page of results in the list.
                  schema:
                    type: string
                - name: q
                  in: query
                  description: 'Only return draft messages matching the specified query. Supports the same query format as the Gmail search box. For example, `"from:someuser@example.com rfc822msgid: is:unread"`.'
                  schema:
                    type: string
                - name: includeSpamTrash
                  in: query
                  description: Include drafts from `SPAM` and `TRASH` in the results.
                  schema:
                    type: boolean
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/ListDraftsResponse'
        post:
            description: Creates a new draft with the `DRAFT` label.
            operationId: gmail.users.drafts.create
            parameters:
                - name: userId
                  in: path
                  description: The user's email address. The special value `me` can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/Draft'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Draft'
    /gmail/v1/users/{userId}/drafts/send:
        post:
            description: Sends the specified, existing draft to the recipients in the `To`, `Cc`, and `Bcc` headers.
            operationId: gmail.users.drafts.send
            parameters:
                - name: userId
                  in: path
                  description: The user's email address. The special value `me` can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/Draft'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Message'
    /gmail/v1/users/{userId}/history:
        get:
            description: Lists the history of all changes to the given mailbox. History results are returned in chronological order (increasing `historyId`).
            operationId: gmail.users.history.list
            parameters:
                - name: userId
                  in: path
                  description: The user's email address. The special value `me` can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
                - name: maxResults
                  in: query
                  description: Maximum number of history records to return. This field defaults to 100. The maximum allowed value for this field is 500.
                  schema:
                    type: integer
                    format: uint32
                - name: pageToken
                  in: query
                  description: Page token to retrieve a specific page of results in the list.
                  schema:
                    type: string
                - name: startHistoryId
                  in: query
                  description: Required. Returns history records after the specified `startHistoryId`. The supplied `startHistoryId` should be obtained from the `historyId` of a message, thread, or previous `list` response. History IDs increase chronologically but are not contiguous with random gaps in between valid IDs. Supplying an invalid or out of date `startHistoryId` typically returns an `HTTP 404` error code. A `historyId` is typically valid for at least a week, but in some rare circumstances may be valid for only a few hours. If you receive an `HTTP 404` error response, your application should perform a full sync. If you receive no `nextPageToken` in the response, there are no updates to retrieve and you can store the returned `historyId` for a future request.
                  schema:
                    type: string
                    format: uint64
                - name: labelId
                  in: query
                  description: Only return messages with a label matching the ID.
                  schema:
                    type: string
                - name: historyTypes
                  in: query
                  description: History types to be returned by the function
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/ListHistoryResponse'
    /gmail/v1/users/{userId}/messages/{id}/trash:
        post:
            description: Moves the specified message to the trash.
            operationId: gmail.users.messages.trash
            parameters:
                - name: userId
                  in: path
                  description: The user's email address. The special value `me` can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
                - name: id
                  in: path
                  description: The ID of the message to Trash.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Message'
    /gmail/v1/users/{userId}/messages/{id}/untrash:
        post:
            description: Removes the specified message from the trash.
            operationId: gmail.users.messages.untrash
            parameters:
                - name: userId
                  in: path
                  description: The user's email address. The special value `me` can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
                - name: id
                  in: path
                  description: The ID of the message to remove from Trash.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Message'
    /gmail/v1/users/{userId}/messages/{id}:
        get:
            description: Gets the specified message.
            operationId: gmail.users.messages.get
            parameters:
                - name: userId
                  in: path
                  description: The user's email address. The special value `me` can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
                - name: id
                  in: path
                  description: The ID of the message to retrieve. This ID is usually retrieved using `messages.list`. The ID is also contained in the result when a message is inserted (`messages.insert`) or imported (`messages.import`).
                  required: true
                  schema:
                    type: string
                - name: format
                  in: query
                  description: The format to return the message in.
                  schema:
                    type: string
                - name: metadataHeaders
                  in: query
                  description: When given and format is `METADATA`, only include headers specified.
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Message'
        delete:
            description: Immediately and permanently deletes the specified message. This operation cannot be undone. Prefer `messages.trash` instead.
            operationId: gmail.users.messages.delete
            parameters:
                - name: userId
                  in: path
                  description: The user's email address. The special value `me` can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
                - name: id
                  in: path
                  description: The ID of the message to delete.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
    /gmail/v1/users/{userId}/messages/batchDelete:
        post:
            description: Deletes many messages by message ID. Provides no guarantees that messages were not already deleted or even existed at all.
            operationId: gmail.users.messages.batchDelete
            parameters:
                - name: userId
                  in: path
                  description: The user's email address. The special value `me` can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/BatchDeleteMessagesRequest'
            responses:
                default:
                    description: Successful operation
    /gmail/v1/users/{userId}/messages/import:
        post:
            description: Imports a message into only this user's mailbox, with standard email delivery scanning and classification similar to receiving via SMTP. This method doesn't perform SPF checks, so it might not work for some spam messages, such as those attempting to perform domain spoofing. This method does not send a message. Note that the maximum size of the message is 150MB.
            operationId: gmail.users.messages.import
            parameters:
                - name: userId
                  in: path
                  description: The user's email address. The special value `me` can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
                - name: internalDateSource
                  in: query
                  description: Source for Gmail's internal date of the message.
                  schema:
                    type: string
                - name: neverMarkSpam
                  in: query
                  description: Ignore the Gmail spam classifier decision and never mark this email as SPAM in the mailbox.
                  schema:
                    type: boolean
                - name: processForCalendar
                  in: query
                  description: Process calendar invites in the email and add any extracted meetings to the Google Calendar for this user.
                  schema:
                    type: boolean
                - name: deleted
                  in: query
                  description: Mark the email as permanently deleted (not TRASH) and only visible in Google Vault to a Vault administrator. Only used for Google Workspace accounts.
                  schema:
                    type: boolean
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/Message'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Message'
    /gmail/v1/users/{userId}/messages:
        get:
            description: Lists the messages in the user's mailbox. For example usage, see [List Gmail messages](https://developers.google.com/workspace/gmail/api/guides/list-messages).
            operationId: gmail.users.messages.list
            parameters:
                - name: userId
                  in: path
                  description: The user's email address. The special value `me` can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
                - name: maxResults
                  in: query
                  description: Maximum number of messages to return. This field defaults to 100. The maximum allowed value for this field is 500.
                  schema:
                    type: integer
                    format: uint32
                - name: pageToken
                  in: query
                  description: Page token to retrieve a specific page of results in the list.
                  schema:
                    type: string
                - name: q
                  in: query
                  description: 'Only return messages matching the specified query. Supports the same query format as the Gmail search box. For example, `"from:someuser@example.com rfc822msgid: is:unread"`. Parameter cannot be used when accessing the api using the gmail.metadata scope.'
                  schema:
                    type: string
                - name: labelIds
                  in: query
                  description: Only return messages with labels that match all of the specified label IDs. Messages in a thread might have labels that other messages in the same thread don't have. To learn more, see [Manage labels on messages and threads](https://developers.google.com/workspace/gmail/api/guides/labels#manage_labels_on_messages_threads).
                  schema:
                    type: string
                - name: includeSpamTrash
                  in: query
                  description: Include messages from `SPAM` and `TRASH` in the results.
                  schema:
                    type: boolean
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/ListMessagesResponse'
        post:
            description: Directly inserts a message into only this user's mailbox similar to `IMAP APPEND`, bypassing most scanning and classification. Does not send a message.
            operationId: gmail.users.messages.insert
            parameters:
                - name: userId
                  in: path
                  description: The user's email address. The special value `me` can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
                - name: internalDateSource
                  in: query
                  description: Source for Gmail's internal date of the message.
                  schema:
                    type: string
                - name: deleted
                  in: query
                  description: Mark the email as permanently deleted (not TRASH) and only visible in Google Vault to a Vault administrator. Only used for Google Workspace accounts.
                  schema:
                    type: boolean
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/Message'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Message'
    /gmail/v1/users/{userId}/messages/send:
        post:
            description: Sends the specified message to the recipients in the `To`, `Cc`, and `Bcc` headers. For example usage, see [Sending email](https://developers.google.com/workspace/gmail/api/guides/sending).
            operationId: gmail.users.messages.send
            parameters:
                - name: userId
                  in: path
                  description: The user's email address. The special value `me` can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/Message'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Message'
    /gmail/v1/users/{userId}/messages/{id}/modify:
        post:
            description: Modifies the labels on the specified message.
            operationId: gmail.users.messages.modify
            parameters:
                - name: userId
                  in: path
                  description: The user's email address. The special value `me` can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
                - name: id
                  in: path
                  description: The ID of the message to modify.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/ModifyMessageRequest'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Message'
    /gmail/v1/users/{userId}/messages/batchModify:
        post:
            description: Modifies the labels on the specified messages.
            operationId: gmail.users.messages.batchModify
            parameters:
                - name: userId
                  in: path
                  description: The user's email address. The special value `me` can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/BatchModifyMessagesRequest'
            responses:
                default:
                    description: Successful operation
    /gmail/v1/users/{userId}/messages/{messageId}/attachments/{id}:
        get:
            description: Gets the specified message attachment.
            operationId: gmail.users.messages.attachments.get
            parameters:
                - name: userId
                  in: path
                  description: The user's email address. The special value `me` can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
                - name: messageId
                  in: path
                  description: The ID of the message containing the attachment.
                  required: true
                  schema:
                    type: string
                - name: id
                  in: path
                  description: The ID of the attachment.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/MessagePartBody'
    /gmail/v1/users/{userId}/labels:
        get:
            description: Lists all labels in the user's mailbox.
            operationId: gmail.users.labels.list
            parameters:
                - name: userId
                  in: path
                  description: The user's email address. The special value `me` can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/ListLabelsResponse'
        post:
            description: Creates a new label.
            operationId: gmail.users.labels.create
            parameters:
                - name: userId
                  in: path
                  description: The user's email address. The special value `me` can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/Label'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Label'
    /gmail/v1/users/{userId}/labels/{id}:
        get:
            description: Gets the specified label.
            operationId: gmail.users.labels.get
            parameters:
                - name: userId
                  in: path
                  description: The user's email address. The special value `me` can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
                - name: id
                  in: path
                  description: The ID of the label to retrieve.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Label'
        put:
            description: Updates the specified label.
            operationId: gmail.users.labels.update
            parameters:
                - name: userId
                  in: path
                  description: The user's email address. The special value `me` can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
                - name: id
                  in: path
                  description: The ID of the label to update.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/Label'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Label'
        delete:
            description: Immediately and permanently deletes the specified label and removes it from any messages and threads that it is applied to.
            operationId: gmail.users.labels.delete
            parameters:
                - name: userId
                  in: path
                  description: The user's email address. The special value `me` can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
                - name: id
                  in: path
                  description: The ID of the label to delete.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
        patch:
            description: Patch the specified label.
            operationId: gmail.users.labels.patch
            parameters:
                - name: userId
                  in: path
                  description: The user's email address. The special value `me` can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
                - name: id
                  in: path
                  description: The ID of the label to update.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/Label'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Label'
    /gmail/v1/users/{userId}/threads/{id}/trash:
        post:
            description: Moves the specified thread to the trash. Any messages that belong to the thread are also moved to the trash.
            operationId: gmail.users.threads.trash
            parameters:
                - name: userId
                  in: path
                  description: The user's email address. The special value `me` can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
                - name: id
                  in: path
                  description: The ID of the thread to Trash.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Thread'
    /gmail/v1/users/{userId}/threads/{id}/untrash:
        post:
            description: Removes the specified thread from the trash. Any messages that belong to the thread are also removed from the trash.
            operationId: gmail.users.threads.untrash
            parameters:
                - name: userId
                  in: path
                  description: The user's email address. The special value `me` can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
                - name: id
                  in: path
                  description: The ID of the thread to remove from Trash.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Thread'
    /gmail/v1/users/{userId}/threads/{id}:
        get:
            description: Gets the specified thread.
            operationId: gmail.users.threads.get
            parameters:
                - name: userId
                  in: path
                  description: The user's email address. The special value `me` can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
                - name: id
                  in: path
                  description: The ID of the thread to retrieve.
                  required: true
                  schema:
                    type: string
                - name: format
                  in: query
                  description: The format to return the messages in.
                  schema:
                    type: string
                - name: metadataHeaders
                  in: query
                  description: When given and format is METADATA, only include headers specified.
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Thread'
        delete:
            description: Immediately and permanently deletes the specified thread. Any messages that belong to the thread are also deleted. This operation cannot be undone. Prefer `threads.trash` instead.
            operationId: gmail.users.threads.delete
            parameters:
                - name: userId
                  in: path
                  description: The user's email address. The special value `me` can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
                - name: id
                  in: path
                  description: ID of the Thread to delete.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
    /gmail/v1/users/{userId}/threads:
        get:
            description: Lists the threads in the user's mailbox.
            operationId: gmail.users.threads.list
            parameters:
                - name: userId
                  in: path
                  description: The user's email address. The special value `me` can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
                - name: maxResults
                  in: query
                  description: Maximum number of threads to return. This field defaults to 100. The maximum allowed value for this field is 500.
                  schema:
                    type: integer
                    format: uint32
                - name: pageToken
                  in: query
                  description: Page token to retrieve a specific page of results in the list.
                  schema:
                    type: string
                - name: q
                  in: query
                  description: 'Only return threads matching the specified query. Supports the same query format as the Gmail search box. For example, `"from:someuser@example.com rfc822msgid: is:unread"`. Parameter cannot be used when accessing the api using the gmail.metadata scope.'
                  schema:
                    type: string
                - name: labelIds
                  in: query
                  description: Only return threads with labels that match all of the specified label IDs.
                  schema:
                    type: string
                - name: includeSpamTrash
                  in: query
                  description: Include threads from `SPAM` and `TRASH` in the results.
                  schema:
                    type: boolean
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/ListThreadsResponse'
    /gmail/v1/users/{userId}/threads/{id}/modify:
        post:
            description: Modifies the labels applied to the thread. This applies to all messages in the thread.
            operationId: gmail.users.threads.modify
            parameters:
                - name: userId
                  in: path
                  description: The user's email address. The special value `me` can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
                - name: id
                  in: path
                  description: The ID of the thread to modify.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/ModifyThreadRequest'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Thread'
    /gmail/v1/users/{userId}/settings/imap:
        get:
            description: Gets IMAP settings.
            operationId: gmail.users.settings.getImap
            parameters:
                - name: userId
                  in: path
                  description: User's email address. The special value "me" can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/ImapSettings'
        put:
            description: Updates IMAP settings.
            operationId: gmail.users.settings.updateImap
            parameters:
                - name: userId
                  in: path
                  description: User's email address. The special value "me" can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/ImapSettings'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/ImapSettings'
    /gmail/v1/users/{userId}/settings/pop:
        get:
            description: Gets POP settings.
            operationId: gmail.users.settings.getPop
            parameters:
                - name: userId
                  in: path
                  description: User's email address. The special value "me" can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/PopSettings'
        put:
            description: Updates POP settings.
            operationId: gmail.users.settings.updatePop
            parameters:
                - name: userId
                  in: path
                  description: User's email address. The special value "me" can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/PopSettings'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/PopSettings'
    /gmail/v1/users/{userId}/settings/vacation:
        get:
            description: Gets vacation responder settings.
            operationId: gmail.users.settings.getVacation
            parameters:
                - name: userId
                  in: path
                  description: User's email address. The special value "me" can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/VacationSettings'
        put:
            description: Updates vacation responder settings.
            operationId: gmail.users.settings.updateVacation
            parameters:
                - name: userId
                  in: path
                  description: User's email address. The special value "me" can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/VacationSettings'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/VacationSettings'
    /gmail/v1/users/{userId}/settings/language:
        get:
            description: Gets language settings.
            operationId: gmail.users.settings.getLanguage
            parameters:
                - name: userId
                  in: path
                  description: User's email address. The special value "me" can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/LanguageSettings'
        put:
            description: Updates language settings. If successful, the return object contains the `displayLanguage` that was saved for the user, which may differ from the value passed into the request. This is because the requested `displayLanguage` may not be directly supported by Gmail but have a close variant that is, and so the variant may be chosen and saved instead.
            operationId: gmail.users.settings.updateLanguage
            parameters:
                - name: userId
                  in: path
                  description: User's email address. The special value "me" can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/LanguageSettings'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/LanguageSettings'
    /gmail/v1/users/{userId}/settings/autoForwarding:
        get:
            description: Gets the auto-forwarding setting for the specified account.
            operationId: gmail.users.settings.getAutoForwarding
            parameters:
                - name: userId
                  in: path
                  description: User's email address. The special value "me" can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/AutoForwarding'
        put:
            description: Updates the auto-forwarding setting for the specified account. A verified forwarding address must be specified when auto-forwarding is enabled. This method is only available to service account clients that have been delegated domain-wide authority.
            operationId: gmail.users.settings.updateAutoForwarding
            parameters:
                - name: userId
                  in: path
                  description: User's email address. The special value "me" can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/AutoForwarding'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/AutoForwarding'
    /gmail/v1/users/{userId}/settings/sendAs:
        get:
            description: Lists the send-as aliases for the specified account. The result includes the primary send-as address associated with the account as well as any custom "from" aliases.
            operationId: gmail.users.settings.sendAs.list
            parameters:
                - name: userId
                  in: path
                  description: User's email address. The special value "me" can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/ListSendAsResponse'
        post:
            description: Creates a custom "from" send-as alias. If an SMTP MSA is specified, Gmail will attempt to connect to the SMTP service to validate the configuration before creating the alias. If ownership verification is required for the alias, a message will be sent to the email address and the resource's verification status will be set to `pending`; otherwise, the resource will be created with verification status set to `accepted`. If a signature is provided, Gmail will sanitize the HTML before saving it with the alias. This method is only available to service account clients that have been delegated domain-wide authority.
            operationId: gmail.users.settings.sendAs.create
            parameters:
                - name: userId
                  in: path
                  description: User's email address. The special value "me" can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/SendAs'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/SendAs'
    /gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}:
        get:
            description: Gets the specified send-as alias. Fails with an HTTP 404 error if the specified address is not a member of the collection.
            operationId: gmail.users.settings.sendAs.get
            parameters:
                - name: userId
                  in: path
                  description: User's email address. The special value "me" can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
                - name: sendAsEmail
                  in: path
                  description: The send-as alias to be retrieved.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/SendAs'
        put:
            description: Updates a send-as alias. If a signature is provided, Gmail will sanitize the HTML before saving it with the alias. Addresses other than the primary address for the account can only be updated by service account clients that have been delegated domain-wide authority.
            operationId: gmail.users.settings.sendAs.update
            parameters:
                - name: userId
                  in: path
                  description: User's email address. The special value "me" can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
                - name: sendAsEmail
                  in: path
                  description: The send-as alias to be updated.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/SendAs'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/SendAs'
        delete:
            description: Deletes the specified send-as alias. Revokes any verification that may have been required for using it. This method is only available to service account clients that have been delegated domain-wide authority.
            operationId: gmail.users.settings.sendAs.delete
            parameters:
                - name: userId
                  in: path
                  description: User's email address. The special value "me" can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
                - name: sendAsEmail
                  in: path
                  description: The send-as alias to be deleted.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
        patch:
            description: Patch the specified send-as alias.
            operationId: gmail.users.settings.sendAs.patch
            parameters:
                - name: userId
                  in: path
                  description: User's email address. The special value "me" can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
                - name: sendAsEmail
                  in: path
                  description: The send-as alias to be updated.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/SendAs'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/SendAs'
    /gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/verify:
        post:
            description: Sends a verification email to the specified send-as alias address. The verification status must be `pending`. This method is only available to service account clients that have been delegated domain-wide authority.
            operationId: gmail.users.settings.sendAs.verify
            parameters:
                - name: userId
                  in: path
                  description: User's email address. The special value "me" can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
                - name: sendAsEmail
                  in: path
                  description: The send-as alias to be verified.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
    /gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo:
        get:
            description: Lists S/MIME configs for the specified send-as alias.
            operationId: gmail.users.settings.sendAs.smimeInfo.list
            parameters:
                - name: userId
                  in: path
                  description: The user's email address. The special value `me` can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
                - name: sendAsEmail
                  in: path
                  description: The email address that appears in the "From:" header for mail sent using this alias.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/ListSmimeInfoResponse'
        post:
            description: Insert (upload) the given S/MIME config for the specified send-as alias. Note that pkcs12 format is required for the key.
            operationId: gmail.users.settings.sendAs.smimeInfo.insert
            parameters:
                - name: userId
                  in: path
                  description: The user's email address. The special value `me` can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
                - name: sendAsEmail
                  in: path
                  description: The email address that appears in the "From:" header for mail sent using this alias.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/SmimeInfo'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/SmimeInfo'
    /gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo/{id}:
        get:
            description: Gets the specified S/MIME config for the specified send-as alias.
            operationId: gmail.users.settings.sendAs.smimeInfo.get
            parameters:
                - name: userId
                  in: path
                  description: The user's email address. The special value `me` can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
                - name: sendAsEmail
                  in: path
                  description: The email address that appears in the "From:" header for mail sent using this alias.
                  required: true
                  schema:
                    type: string
                - name: id
                  in: path
                  description: The immutable ID for the SmimeInfo.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/SmimeInfo'
        delete:
            description: Deletes the specified S/MIME config for the specified send-as alias.
            operationId: gmail.users.settings.sendAs.smimeInfo.delete
            parameters:
                - name: userId
                  in: path
                  description: The user's email address. The special value `me` can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
                - name: sendAsEmail
                  in: path
                  description: The email address that appears in the "From:" header for mail sent using this alias.
                  required: true
                  schema:
                    type: string
                - name: id
                  in: path
                  description: The immutable ID for the SmimeInfo.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
    /gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo/{id}/setDefault:
        post:
            description: Sets the default S/MIME config for the specified send-as alias.
            operationId: gmail.users.settings.sendAs.smimeInfo.setDefault
            parameters:
                - name: userId
                  in: path
                  description: The user's email address. The special value `me` can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
                - name: sendAsEmail
                  in: path
                  description: The email address that appears in the "From:" header for mail sent using this alias.
                  required: true
                  schema:
                    type: string
                - name: id
                  in: path
                  description: The immutable ID for the SmimeInfo.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
    /gmail/v1/users/{userId}/settings/cse/identities:
        get:
            description: Lists the client-side encrypted identities for an authenticated user. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.
            operationId: gmail.users.settings.cse.identities.list
            parameters:
                - name: userId
                  in: path
                  description: The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.
                  required: true
                  schema:
                    type: string
                - name: pageToken
                  in: query
                  description: Pagination token indicating which page of identities to return. If the token is not supplied, then the API will return the first page of results.
                  schema:
                    type: string
                - name: pageSize
                  in: query
                  description: The number of identities to return. If not provided, the page size will default to 20 entries.
                  schema:
                    type: integer
                    format: int32
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/ListCseIdentitiesResponse'
        post:
            description: Creates and configures a client-side encryption identity that's authorized to send mail from the user account. Google publishes the S/MIME certificate to a shared domain-wide directory so that people within a Google Workspace organization can encrypt and send mail to the identity. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.
            operationId: gmail.users.settings.cse.identities.create
            parameters:
                - name: userId
                  in: path
                  description: The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/CseIdentity'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/CseIdentity'
    /gmail/v1/users/{userId}/settings/cse/identities/{cseEmailAddress}:
        get:
            description: Retrieves a client-side encryption identity configuration. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.
            operationId: gmail.users.settings.cse.identities.get
            parameters:
                - name: userId
                  in: path
                  description: The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.
                  required: true
                  schema:
                    type: string
                - name: cseEmailAddress
                  in: path
                  description: The primary email address associated with the client-side encryption identity configuration that's retrieved.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/CseIdentity'
        delete:
            description: Deletes a client-side encryption identity. The authenticated user can no longer use the identity to send encrypted messages. You cannot restore the identity after you delete it. Instead, use the CreateCseIdentity method to create another identity with the same configuration. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.
            operationId: gmail.users.settings.cse.identities.delete
            parameters:
                - name: userId
                  in: path
                  description: The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.
                  required: true
                  schema:
                    type: string
                - name: cseEmailAddress
                  in: path
                  description: The primary email address associated with the client-side encryption identity configuration that's removed.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
    /gmail/v1/users/{userId}/settings/cse/identities/{emailAddress}:
        patch:
            description: Associates a different key pair with an existing client-side encryption identity. The updated key pair must validate against Google's [S/MIME certificate profiles](https://support.google.com/a/answer/7300887). For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.
            operationId: gmail.users.settings.cse.identities.patch
            parameters:
                - name: userId
                  in: path
                  description: The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.
                  required: true
                  schema:
                    type: string
                - name: emailAddress
                  in: path
                  description: The email address of the client-side encryption identity to update.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/CseIdentity'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/CseIdentity'
    /gmail/v1/users/{userId}/settings/cse/keypairs:
        get:
            description: Lists client-side encryption key pairs for an authenticated user. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.
            operationId: gmail.users.settings.cse.keypairs.list
            parameters:
                - name: userId
                  in: path
                  description: The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.
                  required: true
                  schema:
                    type: string
                - name: pageToken
                  in: query
                  description: Pagination token indicating which page of key pairs to return. If the token is not supplied, then the API will return the first page of results.
                  schema:
                    type: string
                - name: pageSize
                  in: query
                  description: The number of key pairs to return. If not provided, the page size will default to 20 entries.
                  schema:
                    type: integer
                    format: int32
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/ListCseKeyPairsResponse'
        post:
            description: Creates and uploads a client-side encryption S/MIME public key certificate chain and private key metadata for the authenticated user. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.
            operationId: gmail.users.settings.cse.keypairs.create
            parameters:
                - name: userId
                  in: path
                  description: The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/CseKeyPair'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/CseKeyPair'
    /gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:disable:
        post:
            description: Turns off a client-side encryption key pair. The authenticated user can no longer use the key pair to decrypt incoming CSE message texts or sign outgoing CSE mail. To regain access, use the EnableCseKeyPair to turn on the key pair. After 30 days, you can permanently delete the key pair by using the ObliterateCseKeyPair method. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.
            operationId: gmail.users.settings.cse.keypairs.disable
            parameters:
                - name: userId
                  in: path
                  description: The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.
                  required: true
                  schema:
                    type: string
                - name: keyPairId
                  in: path
                  description: The identifier of the key pair to turn off.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/DisableCseKeyPairRequest'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/CseKeyPair'
    /gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:enable:
        post:
            description: Turns on a client-side encryption key pair that was turned off. The key pair becomes active again for any associated client-side encryption identities. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.
            operationId: gmail.users.settings.cse.keypairs.enable
            parameters:
                - name: userId
                  in: path
                  description: The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.
                  required: true
                  schema:
                    type: string
                - name: keyPairId
                  in: path
                  description: The identifier of the key pair to turn on.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/EnableCseKeyPairRequest'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/CseKeyPair'
    /gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:
        get:
            description: Retrieves an existing client-side encryption key pair. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.
            operationId: gmail.users.settings.cse.keypairs.get
            parameters:
                - name: userId
                  in: path
                  description: The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.
                  required: true
                  schema:
                    type: string
                - name: keyPairId
                  in: path
                  description: The identifier of the key pair to retrieve.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/CseKeyPair'
    /gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:obliterate:
        post:
            description: Deletes a client-side encryption key pair permanently and immediately. You can only permanently delete key pairs that have been turned off for more than 30 days. To turn off a key pair, use the DisableCseKeyPair method. Gmail can't restore or decrypt any messages that were encrypted by an obliterated key. Authenticated users and Google Workspace administrators lose access to reading the encrypted messages. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.
            operationId: gmail.users.settings.cse.keypairs.obliterate
            parameters:
                - name: userId
                  in: path
                  description: The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.
                  required: true
                  schema:
                    type: string
                - name: keyPairId
                  in: path
                  description: The identifier of the key pair to obliterate.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/ObliterateCseKeyPairRequest'
            responses:
                default:
                    description: Successful operation
    /gmail/v1/users/{userId}/settings/filters:
        get:
            description: Lists the message filters of a Gmail user.
            operationId: gmail.users.settings.filters.list
            parameters:
                - name: userId
                  in: path
                  description: User's email address. The special value "me" can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/ListFiltersResponse'
        post:
            description: 'Creates a filter. Note: you can only create a maximum of 1,000 filters.'
            operationId: gmail.users.settings.filters.create
            parameters:
                - name: userId
                  in: path
                  description: User's email address. The special value "me" can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/Filter'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Filter'
    /gmail/v1/users/{userId}/settings/filters/{id}:
        get:
            description: Gets a filter.
            operationId: gmail.users.settings.filters.get
            parameters:
                - name: userId
                  in: path
                  description: User's email address. The special value "me" can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
                - name: id
                  in: path
                  description: The ID of the filter to be fetched.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Filter'
        delete:
            description: Immediately and permanently deletes the specified filter.
            operationId: gmail.users.settings.filters.delete
            parameters:
                - name: userId
                  in: path
                  description: User's email address. The special value "me" can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
                - name: id
                  in: path
                  description: The ID of the filter to be deleted.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
    /gmail/v1/users/{userId}/settings/forwardingAddresses:
        get:
            description: Lists the forwarding addresses for the specified account.
            operationId: gmail.users.settings.forwardingAddresses.list
            parameters:
                - name: userId
                  in: path
                  description: User's email address. The special value "me" can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/ListForwardingAddressesResponse'
        post:
            description: Creates a forwarding address. If ownership verification is required, a message will be sent to the recipient and the resource's verification status will be set to `pending`; otherwise, the resource will be created with verification status set to `accepted`. This method is only available to service account clients that have been delegated domain-wide authority.
            operationId: gmail.users.settings.forwardingAddresses.create
            parameters:
                - name: userId
                  in: path
                  description: User's email address. The special value "me" can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/ForwardingAddress'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/ForwardingAddress'
    /gmail/v1/users/{userId}/settings/forwardingAddresses/{forwardingEmail}:
        get:
            description: Gets the specified forwarding address.
            operationId: gmail.users.settings.forwardingAddresses.get
            parameters:
                - name: userId
                  in: path
                  description: User's email address. The special value "me" can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
                - name: forwardingEmail
                  in: path
                  description: The forwarding address to be retrieved.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/ForwardingAddress'
        delete:
            description: Deletes the specified forwarding address and revokes any verification that may have been required. This method is only available to service account clients that have been delegated domain-wide authority.
            operationId: gmail.users.settings.forwardingAddresses.delete
            parameters:
                - name: userId
                  in: path
                  description: User's email address. The special value "me" can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
                - name: forwardingEmail
                  in: path
                  description: The forwarding address to be deleted.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
    /gmail/v1/users/{userId}/settings/delegates:
        get:
            description: Lists the delegates for the specified account. This method is only available to service account clients that have been delegated domain-wide authority.
            operationId: gmail.users.settings.delegates.list
            parameters:
                - name: userId
                  in: path
                  description: User's email address. The special value "me" can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/ListDelegatesResponse'
        post:
            description: Adds a delegate with its verification status set directly to `accepted`, without sending any verification email. The delegate user must be a member of the same Google Workspace organization as the delegator user. Gmail imposes limitations on the number of delegates and delegators each user in a Google Workspace organization can have. These limits depend on your organization, but in general each user can have up to 25 delegates and up to 10 delegators. Note that a delegate user must be referred to by their primary email address, and not an email alias. Also note that when a new delegate is created, there may be up to a one minute delay before the new delegate is available for use. This method is only available to service account clients that have been delegated domain-wide authority.
            operationId: gmail.users.settings.delegates.create
            parameters:
                - name: userId
                  in: path
                  description: User's email address. The special value "me" can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/Delegate'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Delegate'
    /gmail/v1/users/{userId}/settings/delegates/{delegateEmail}:
        get:
            description: Gets the specified delegate. Note that a delegate user must be referred to by their primary email address, and not an email alias. This method is only available to service account clients that have been delegated domain-wide authority.
            operationId: gmail.users.settings.delegates.get
            parameters:
                - name: userId
                  in: path
                  description: User's email address. The special value "me" can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
                - name: delegateEmail
                  in: path
                  description: The email address of the user whose delegate relationship is to be retrieved.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Delegate'
        delete:
            description: Removes the specified delegate (which can be of any verification status), and revokes any verification that may have been required for using it. Note that a delegate user must be referred to by their primary email address, and not an email alias. This method is only available to service account clients that have been delegated domain-wide authority.
            operationId: gmail.users.settings.delegates.delete
            parameters:
                - name: userId
                  in: path
                  description: User's email address. The special value "me" can be used to indicate the authenticated user.
                  required: true
                  schema:
                    type: string
                - name: delegateEmail
                  in: path
                  description: The email address of the user to be removed as a delegate.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
components:
    schemas:
        Draft:
            type: object
            properties:
                id:
                    type: string
                    description: The immutable ID of the draft.
                message:
                    $ref: '#/definitions/Message'
            description: A draft email in the user's mailbox.
        Message:
            type: object
            properties:
                id:
                    type: string
                    description: The immutable ID of the message.
                threadId:
                    type: string
                    description: 'The ID of the thread the message belongs to. To add a message or draft to a thread, the following criteria must be met: 1. The requested `threadId` must be specified on the `Message` or `Draft.Message` you supply with your request. 2. The `References` and `In-Reply-To` headers must be set in compliance with the [RFC 2822](https://tools.ietf.org/html/rfc2822) standard. 3. The `Subject` headers must match. '
                labelIds:
                    type: array
                    items:
                        type: string
                    description: List of IDs of labels applied to this message.
                snippet:
                    type: string
                    description: A short part of the message text.
                historyId:
                    type: string
                    description: The ID of the last history record that modified this message.
                internalDate:
                    type: string
                    description: The internal message creation timestamp (epoch ms), which determines ordering in the inbox. For normal SMTP-received email, this represents the time the message was originally accepted by Google, which is more reliable than the `Date` header. However, for API-migrated mail, it can be configured by client to be based on the `Date` header.
                payload:
                    $ref: '#/definitions/MessagePart'
                sizeEstimate:
                    type: integer
                    description: Estimated size in bytes of the message.
                raw:
                    type: string
                    description: The entire email message in an RFC 2822 formatted and base64url encoded string. Returned in `messages.get` and `drafts.get` responses when the `format=RAW` parameter is supplied.
                classificationLabelValues:
                    type: array
                    items:
                        $ref: '#/definitions/ClassificationLabelValue'
                    description: Classification Label values on the message. Available Classification Label schemas can be queried using the Google Drive Labels API. Each classification label ID must be unique. If duplicate IDs are provided, only one will be retained, and the selection is arbitrary. Only used for Google Workspace accounts.
            description: An email message.
        MessagePart:
            type: object
            properties:
                partId:
                    type: string
                    description: The immutable ID of the message part.
                mimeType:
                    type: string
                    description: The MIME type of the message part.
                filename:
                    type: string
                    description: The filename of the attachment. Only present if this message part represents an attachment.
                headers:
                    type: array
                    items:
                        $ref: '#/definitions/MessagePartHeader'
                    description: List of headers on this message part. For the top-level message part, representing the entire message payload, it will contain the standard RFC 2822 email headers such as `To`, `From`, and `Subject`.
                body:
                    $ref: '#/definitions/MessagePartBody'
[...]
