openapi: "3.0"
info:
    title: Google Tasks API
    description: The Google Tasks API lets you manage your tasks and task lists.
    version: v1
servers:
    - url: https://tasks.googleapis.com/
paths:
    /tasks/v1/lists/{tasklist}/clear:
        post:
            description: Clears all completed tasks from the specified task list. The affected tasks will be marked as 'hidden' and no longer be returned by default when retrieving all tasks for a task list.
            operationId: tasks.tasks.clear
            parameters:
                - name: tasklist
                  in: path
                  description: Task list identifier.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
    /tasks/v1/lists/{tasklist}/tasks/{task}:
        get:
            description: Returns the specified task.
            operationId: tasks.tasks.get
            parameters:
                - name: tasklist
                  in: path
                  description: Task list identifier.
                  required: true
                  schema:
                    type: string
                - name: task
                  in: path
                  description: Task identifier.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Task'
        put:
            description: Updates the specified task.
            operationId: tasks.tasks.update
            parameters:
                - name: tasklist
                  in: path
                  description: Task list identifier.
                  required: true
                  schema:
                    type: string
                - name: task
                  in: path
                  description: Task identifier.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/Task'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Task'
        delete:
            description: Deletes the specified task from the task list. If the task is assigned, both the assigned task and the original task (in Docs, Chat Spaces) are deleted. To delete the assigned task only, navigate to the assignment surface and unassign the task from there.
            operationId: tasks.tasks.delete
            parameters:
                - name: tasklist
                  in: path
                  description: Task list identifier.
                  required: true
                  schema:
                    type: string
                - name: task
                  in: path
                  description: Task identifier.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
        patch:
            description: Updates the specified task. This method supports patch semantics.
            operationId: tasks.tasks.patch
            parameters:
                - name: tasklist
                  in: path
                  description: Task list identifier.
                  required: true
                  schema:
                    type: string
                - name: task
                  in: path
                  description: Task identifier.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/Task'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Task'
    /tasks/v1/lists/{tasklist}/tasks:
        get:
            description: Returns all tasks in the specified task list. Doesn't return assigned tasks by default (from Docs, Chat Spaces). A user can have up to 20,000 non-hidden tasks per list and up to 100,000 tasks in total at a time.
            operationId: tasks.tasks.list
            parameters:
                - name: tasklist
                  in: path
                  description: Task list identifier.
                  required: true
                  schema:
                    type: string
                - name: completedMax
                  in: query
                  description: Upper bound for a task's completion date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by completion date.
                  schema:
                    type: string
                - name: completedMin
                  in: query
                  description: Lower bound for a task's completion date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by completion date.
                  schema:
                    type: string
                - name: dueMax
                  in: query
                  description: Upper bound for a task's due date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by due date.
                  schema:
                    type: string
                - name: dueMin
                  in: query
                  description: Lower bound for a task's due date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by due date.
                  schema:
                    type: string
                - name: maxResults
                  in: query
                  description: 'Maximum number of tasks returned on one page. Optional. The default is 20 (max allowed: 100).'
                  schema:
                    type: integer
                    format: int32
                - name: pageToken
                  in: query
                  description: Token specifying the result page to return. Optional.
                  schema:
                    type: string
                - name: showCompleted
                  in: query
                  description: Flag indicating whether completed tasks are returned in the result. Note that showHidden must also be True to show tasks completed in first party clients, such as the web UI and Google's mobile apps. Optional. The default is True.
                  schema:
                    type: boolean
                - name: showDeleted
                  in: query
                  description: Flag indicating whether deleted tasks are returned in the result. Optional. The default is False.
                  schema:
                    type: boolean
                - name: showHidden
                  in: query
                  description: Flag indicating whether hidden tasks are returned in the result. Optional. The default is False.
                  schema:
                    type: boolean
                - name: updatedMin
                  in: query
                  description: Lower bound for a task's last modification time (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by last modification time.
                  schema:
                    type: string
                - name: showAssigned
                  in: query
                  description: Optional. Flag indicating whether tasks assigned to the current user are returned in the result. Optional. The default is False.
                  schema:
                    type: boolean
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Tasks'
        post:
            description: Creates a new task on the specified task list. Tasks assigned from Docs or Chat Spaces cannot be inserted from Tasks Public API; they can only be created by assigning them from Docs or Chat Spaces. A user can have up to 20,000 non-hidden tasks per list and up to 100,000 tasks in total at a time.
            operationId: tasks.tasks.insert
            parameters:
                - name: tasklist
                  in: path
                  description: Task list identifier.
                  required: true
                  schema:
                    type: string
                - name: parent
                  in: query
                  description: Parent task identifier. If the task is created at the top level, this parameter is omitted. An assigned task cannot be a parent task, nor can it have a parent. Setting the parent to an assigned task results in failure of the request. Optional.
                  schema:
                    type: string
                - name: previous
                  in: query
                  description: Previous sibling task identifier. If the task is created at the first position among its siblings, this parameter is omitted. Optional.
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/Task'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Task'
    /tasks/v1/lists/{tasklist}/tasks/{task}/move:
        post:
            description: Moves the specified task to another position in the destination task list. If the destination list is not specified, the task is moved within its current list. This can include putting it as a child task under a new parent and/or move it to a different position among its sibling tasks. A user can have up to 2,000 subtasks per task.
            operationId: tasks.tasks.move
            parameters:
                - name: tasklist
                  in: path
                  description: Task list identifier.
                  required: true
                  schema:
                    type: string
                - name: task
                  in: path
                  description: Task identifier.
                  required: true
                  schema:
                    type: string
                - name: parent
                  in: query
                  description: 'Optional. New parent task identifier. If the task is moved to the top level, this parameter is omitted. The task set as parent must exist in the task list and can not be hidden. Exceptions: 1. Assigned and repeating tasks cannot be set as parent tasks (have subtasks), or be moved under a parent task (become subtasks). 2. Tasks that are both completed and hidden cannot be nested, so the parent field must be empty.'
                  schema:
                    type: string
                - name: previous
                  in: query
                  description: 'Optional. New previous sibling task identifier. If the task is moved to the first position among its siblings, this parameter is omitted. The task set as previous must exist in the task list and can not be hidden. Exceptions: 1. Tasks that are both completed and hidden can only be moved to position 0, so the previous field must be empty.'
                  schema:
                    type: string
                - name: destinationTasklist
                  in: query
                  description: Optional. Destination task list identifier. If set, the task is moved from tasklist to the destinationTasklist list. Otherwise the task is moved within its current list. Recurrent tasks cannot currently be moved between lists.
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/Task'
    /tasks/v1/users/@me/lists/{tasklist}:
        get:
            description: Returns the authenticated user's specified task list.
            operationId: tasks.tasklists.get
            parameters:
                - name: tasklist
                  in: path
                  description: Task list identifier.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/TaskList'
        put:
            description: Updates the authenticated user's specified task list.
            operationId: tasks.tasklists.update
            parameters:
                - name: tasklist
                  in: path
                  description: Task list identifier.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/TaskList'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/TaskList'
        delete:
            description: Deletes the authenticated user's specified task list. If the list contains assigned tasks, both the assigned tasks and the original tasks in the assignment surface (Docs, Chat Spaces) are deleted.
            operationId: tasks.tasklists.delete
            parameters:
                - name: tasklist
                  in: path
                  description: Task list identifier.
                  required: true
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
        patch:
            description: Updates the authenticated user's specified task list. This method supports patch semantics.
            operationId: tasks.tasklists.patch
            parameters:
                - name: tasklist
                  in: path
                  description: Task list identifier.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/TaskList'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/TaskList'
    /tasks/v1/users/@me/lists:
        get:
            description: Returns all the authenticated user's task lists. A user can have up to 2000 lists at a time.
            operationId: tasks.tasklists.list
            parameters:
                - name: maxResults
                  in: query
                  description: 'Maximum number of task lists returned on one page. Optional. The default is 1000 (max allowed: 1000).'
                  schema:
                    type: integer
                    format: int32
                - name: pageToken
                  in: query
                  description: Token specifying the result page to return. Optional.
                  schema:
                    type: string
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/TaskLists'
        post:
            description: Creates a new task list and adds it to the authenticated user's task lists. A user can have up to 2000 lists at a time.
            operationId: tasks.tasklists.insert
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/definitions/TaskList'
            responses:
                default:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/definitions/TaskList'
components:
    schemas:
        Task:
            type: object
            properties:
                kind:
                    type: string
                    description: Output only. Type of the resource. This is always "tasks#task".
                id:
                    type: string
                    description: Task identifier.
                etag:
                    type: string
                    description: ETag of the resource.
                title:
                    type: string
                    description: 'Title of the task. Maximum length allowed: 1024 characters.'
                updated:
                    type: string
                    description: Output only. Last modification time of the task (as a RFC 3339 timestamp).
                selfLink:
                    type: string
                    description: Output only. URL pointing to this task. Used to retrieve, update, or delete this task.
                parent:
                    type: string
                    description: Output only. Parent task identifier. This field is omitted if it is a top-level task. Use the "move" method to move the task under a different parent or to the top level. A parent task can never be an assigned task (from Chat Spaces, Docs). This field is read-only.
                position:
                    type: string
                    description: Output only. String indicating the position of the task among its sibling tasks under the same parent task or at the top level. If this string is greater than another task's corresponding position string according to lexicographical ordering, the task is positioned after the other task under the same parent task (or at the top level). Use the "move" method to move the task to another position.
                notes:
                    type: string
                    description: 'Notes describing the task. Tasks assigned from Google Docs cannot have notes. Optional. Maximum length allowed: 8192 characters.'
                status:
                    type: string
                    description: Status of the task. This is either "needsAction" or "completed".
                due:
                    type: string
                    description: Scheduled date for the task (as an RFC 3339 timestamp). Optional. This represents the day that the task should be done, or that the task is visible on the calendar grid. It doesn't represent the deadline of the task. Only date information is recorded; the time portion of the timestamp is discarded when setting this field. It isn't possible to read or write the time that a task is scheduled for using the API.
                completed:
                    type: string
                    description: Completion date of the task (as a RFC 3339 timestamp). This field is omitted if the task has not been completed.
                deleted:
                    type: boolean
                    description: Flag indicating whether the task has been deleted. For assigned tasks this field is read-only. They can only be deleted by calling tasks.delete, in which case both the assigned task and the original task (in Docs or Chat Spaces) are deleted. To delete the assigned task only, navigate to the assignment surface and unassign the task from there. The default is False.
                hidden:
                    type: boolean
                    description: Flag indicating whether the task is hidden. This is the case if the task had been marked completed when the task list was last cleared. The default is False. This field is read-only.
                links:
                    type: array
                    items:
                        type: object
                        properties:
                            type:
                                type: string
                                description: Type of the link, e.g. "email", "generic", "chat_message", "keep_note".
                            description:
                                type: string
                                description: The description (might be empty).
                            link:
                                type: string
                                description: The URL.
                    description: Output only. Collection of links. This collection is read-only.
                webViewLink:
                    type: string
                    description: Output only. An absolute link to the task in the Google Tasks Web UI.
                assignmentInfo:
                    $ref: '#/definitions/AssignmentInfo'
        AssignmentInfo:
            type: object
            properties:
                linkToTask:
                    type: string
                    description: Output only. An absolute link to the original task in the surface of assignment (Docs, Chat spaces, etc.).
                surfaceType:
                    enum:
                        - CONTEXT_TYPE_UNSPECIFIED
                        - GMAIL
                        - DOCUMENT
                        - SPACE
                    type: string
                    description: Output only. The type of surface this assigned task originates from. Currently limited to DOCUMENT or SPACE.
                driveResourceInfo:
                    $ref: '#/definitions/DriveResourceInfo'
                spaceInfo:
                    $ref: '#/definitions/SpaceInfo'
            description: Information about the source of the task assignment (Document, Chat Space).
        DriveResourceInfo:
            type: object
            properties:
                driveFileId:
                    type: string
                    description: Output only. Identifier of the file in the Drive API.
                resourceKey:
                    type: string
                    description: Output only. Resource key required to access files shared via a shared link. Not required for all files. See also developers.google.com/drive/api/guides/resource-keys.
            description: Information about the Drive resource where a task was assigned from (the document, sheet, etc.).
        SpaceInfo:
            type: object
            properties:
                space:
                    type: string
                    description: Output only. The Chat space where this task originates from. The format is "spaces/{space}".
            description: Information about the Chat Space where a task was assigned from.
        Tasks:
            type: object
            properties:
                kind:
                    type: string
                    description: Type of the resource. This is always "tasks#tasks".
                etag:
                    type: string
                    description: ETag of the resource.
                nextPageToken:
                    type: string
                    description: Token used to access the next page of this result.
                items:
                    type: array
                    items:
                        $ref: '#/definitions/Task'
                    description: Collection of tasks.
        TaskList:
            type: object
            properties:
                kind:
                    type: string
                    description: Output only. Type of the resource. This is always "tasks#taskList".
                id:
                    type: string
                    description: Task list identifier.
                etag:
                    type: string
                    description: ETag of the resource.
                title:
                    type: string
                    description: 'Title of the task list. Maximum length allowed: 1024 characters.'
                updated:
                    type: string
                    description: Output only. Last modification time of the task list (as a RFC 3339 timestamp).
                selfLink:
                    type: string
                    description: Output only. URL pointing to this task list. Used to retrieve, update, or delete this task list.
        TaskLists:
            type: object
            properties:
                kind:
                    type: string
                    description: Type of the resource. This is always "tasks#taskLists".
                etag:
                    type: string
                    description: ETag of the resource.
                nextPageToken:
                    type: string
                    description: Token that can be used to request the next page of this result.
                items:
                    type: array
                    items:
                        $ref: '#/definitions/TaskList'
                    description: Collection of task lists.
